.clients-wrapper{

	.client{

		.panel{
			float:left;
			width:100%;
			border:none;
			background:transparent;
			box-shadow: none;

			.panel-heading{
				float:left;
				width:100%;
				border:none;
				background:transparent;
				padding:0;
				margin-bottom:5px;
				text-transform: uppercase;
				font-size:16px;
				letter-spacing: 1px;
			}
		
				.panel-body{
					float:left;
					width:100%;
					padding:0;
					cursor:pointer;

					.client-title{
						float:left;
						width:calc(100% - 50px);
						background-color:white;
						height:130px;
						position:relative;
 
						p{
							font-size:26px;
							font-weight:bold;
							letter-spacing: 1px;
							text-align:center;
							text-transform: uppercase;
							position:absolute;
							right:0; 
							left: 0;
							font-size:24px;
							top: 50%;
	  						transform: translateY(-50%);
	  						margin:0;
	  						color:#848484;
						}
						.client-btn{
							position:absolute;
							right:15px;
							font-size:24px;
							top: 50%;
	  						transform: translateY(-50%);
	  						color:#848484;
						}
					}
					.client-options{
						float:left;
						width:50px;
					}
				}
				.panel-body:hover{

					p{
						color:black;
					}
					.client-btn{
						color:black;
					}
				}
			
				
		}
	}
}