.editor-options{
	padding: 25px 0;
    background-color: #e6e6e6;
    margin-top:-15px;

    .editor-report-info{

    	div{
    		float:left;
    		width:100%;

    		label{
    			float: left;
			    color: #adadad;
			    font-size: 18px;
			    font-weight: normal;
			    letter-spacing: 1px;
			    text-transform: uppercase;
			    width: 225px;
    		}
    		p{
    			overflow:hidden;
			    color: #adadad;
			    font-size: 18px;
			    font-weight:bold;
    		}
    	}

    }

    .editor-actions{
    	float:left;
    	width:100%;
    	margin-top: 25px;
    }

    .status-control{

    	.status-radio-btns{
    		float: left;
    		width: 150px;
    		margin-bottom: 7px;

    		label:first-child{
    			display:none !important;
    		}
    		label{
    			float:left;
    			width:100%;
    			margin:0;
    			text-transform:uppercase;
    			letter-spacing: 1px;
    			color:#949494;
    		}
    	}

    	.checkbox{
    		margin-top:0 !important;
    		margin-bottom:0 !important;
    		label{
    			float:left;
    			clear: both;
    			margin:0;
    			text-transform:uppercase;
    			letter-spacing: 1px;
    			color:#949494;
    			margin-left: 20px;
    		}
    	}
    }
}

.answer-editor{
	margin-bottom:15px;
	position:relative;

	.question{
		padding:0;
		margin-bottom:10px;
		cursor:pointer;

		h5{
			float:left;
			width:100%;
			margin:0;
			background-color:#888888;
			color:white;
			padding:10px 15px;
			font-size:16px;
		}
	}
	.question:hover h5{
		background-color:#777777;
	}
	.answer-edit-section{
		float:left;
		width:100%;





        .answer-image-col{
            padding-left:0 !important;
            padding-right:0 !important;

            .answer-image-wrapper{
                float:left;
                width:100%;

                .answer-image{
                    float:left;
                    width:100%;
                    max-height:210px;
                    overflow-y:hidden;
                    position:relative;
                    padding-left:1px;
                    margin-bottom:1px;
                    cursor:pointer;

                    img{
                        float:left;
                        width:100%;
                    }

                    .zoom-in-answer-image{
                        position:absolute;
                        left:0;
                        right:0;
                        height:100%;
                        top:0;
                        opacity:0;
                        background-color:rgba(266,266,266, 0.6);
                        margin:0;
                        padding:15px;
                        -webkit-transition-property: opacity;
                        -webkit-transition-duration: 0.2s;

                        span{
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            text-align: center;
                            font-size: 26px; 
                        }
                    }
                }
                .answer-image:hover{
                    .zoom-in-answer-image{
                        opacity:1 !important;
                    }
                }
            }
        }





	}
	.answer{

		.input-label{
			font-size:14px;
			letter-spacing:1px;
			text-transform: uppercase;
			color:#888888;
		}

		.save-answer{

			.btn-spinner{
				//display:none;
				float:right;
				margin-left: 15px;
				-webkit-animation: rotating .5s linear infinite;
				-moz-animation: rotating .5s linear infinite;
				-ms-animation: rotating .5s linear infinite;
				-o-animation: rotating .5s linear infinite;
				animation: rotating .5s linear infinite;
			}
		}
	}

	.message{
		float: left;
	    width: 100%;

        .alert{
            margin:15px 0 0 0 !important;
        }
	}
	.answer-edit-message{
		display:none !important;
	}

}
.answer-editor:last-child{
	margin-bottom:0 !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.answer-image-overlay{
    display:none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0, 0.5);
    z-index:999999;
    text-align: center;
    overflow-y:auto;

    .zoomed-image{
        display:inline-block;
        padding:15px;
        background-color:#f8f8f8;
        margin:25px auto 0 auto;
        position:relative;
        border-radius:3px;
        max-width: 730px;
        z-index:99999999;
        opacity:0;

        .close-overlay{
            position: absolute;
            color: #888;
            cursor: pointer;
            font-size: 20px;
            z-index:999999999;
            top:20px;
            right:20px; 
        }
        .close-overlay:hover{
            color:#666;
        }
        
        .image-well{
            float:left;
            margin:0;
            padding:0;

            img{
                max-width: 700px;
            }
        }
    }
    .loader{
        position:absolute;
        left: 0;
        right: 0;
        top:0;
        text-align: center;
        font-size: 20px;
        z-index:9999999;
    }
}