.feedback{


	.add-feedback h3, .feedback-items h3{
		float:left;
		width:100%;
		margin:0 0 15px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		color:#808080;
		font-size:24px;
	}

	.add-feedback{

		.feedback-form-wrapper{
			float:left;
			width:100%;

			input[name='title']{
				float:left;
				width:100%; 
				margin-bottom:15px;
			}
			textarea[name='comment']{
				float:left;
				width:100%;
				margin-bottom:15px;
				height:120px;
				resize: vertical;
			}
		}

	}

	.feedback-items{

		.feedback-items-wrapper{
			float:left;
			width:100%;

			.feedback-item{
				float:left;
				width:100%;
				padding:15px;
				background-color:#e2e2e2;
				border-radius:3px;
				margin:0 0 15px 0;

				*{
					color:#fafafa;
				}

				.details{
					float: left;
				    width: 100%;
				    position: relative;
				    padding-right: 50px;

					p{
						color:#888;
						font-size:14px;
						text-transform: uppercase;
						letter-spacing: 1px;
						margin:0;

						span{
							color:#888;
							font-weight:bold;
							
						}
					}

					.showhide-feedback{
						position: absolute;
					    top: 10px;
					    right: 15px;
					    cursor: pointer;
					    color: #888;
					    font-size: 20px;
					}
					.showhide-feedback:hover{
						color:#666;
					}
				}
				.feedback-content{
					float:left;
					width:100%;
					margin-top:15px;
					display:none;

					.fdbck-title{
						float:left;
						width:100%;
						margin:0 0 10px 0;
						font-weight:bold;
						color:#888;
					}
					.fdbck-description{
						float:left;
						width:100%;
						margin:0;
						color:#888;
					}
				}
			}
		}

	}


}