
.login-container{
	margin-top:-15px;
	padding-top:15px;
	height:calc(100vh - 120px);
	background-image:url('../img/login-bg.jpg');
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

.login-box-wrapper{
	width:350px;

	.login-box{
		float:left;
		width:100%;
		background-color: #f2f2f2;
	    padding: 60px 50px;
	    margin-top:25px;
	    border-radius: 3px;     

		h1{
			margin:0 0 45px 0;
			font-size: 26px;
	   	 	text-align: center;
	   	 	text-transform: uppercase;
	   	 	letter-spacing: 1px;
		}

		span{
			float: left;
		    width: 40px;
		    height: 40px;
		    margin-right: -40px;
		    margin-top: -1px;
		    font-size: 20px;
		    padding: 10px;
		}
 
		.form-group{
			float:left;
			width:100%;
		}
		input[type="text"]{
		    float: left;
		    height: 40px;
		    width: 100%;
		    margin-bottom: 0;
		    padding-left: 40px;
		    border-radius: 0;
		    border-left: none;
		    border-top: none;
		    border-right: none;
		    background: none;
		    box-shadow: none;

		}
		input[type="password"]{
			float: left;
		    height: 40px;
		    width: 100%;
		    margin-bottom: 45px;
		    padding-left: 40px;
		    border-radius: 0;
		    border-left: none;
		    border-top: none;
		    border-right: none;
		    background: none;
		    box-shadow: none;
		    font-size: 14px;
    		letter-spacing: 1px;
		}
		input[type="submit"]{
		    border: none;
		    padding: 10px 25px;
		    cursor: pointer;
		    text-decoration: none;
		    text-align: center;
		    font-size: 14px;
		    float: left;
		    background: #ffdd33;
		    color: #000;
		    width: 100%;
		    font-weight: bold;
		    border-radius: 0;
		    box-shadow: none;
		    font-size: 14px;
    		letter-spacing: 1px;
		}
		input[type="submit"]:hover{
			background-color:#f4d433;
		}
		input:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset;
		}
	}

}

	

@media (max-width: 414px) {

	.login-box-wrapper{
		width:91% !important;

		.login-box {
		    padding: 30px 20px;
		    margin-top: 15px;
		}
	}
		

}