body{
	margin:0;
	padding:120px 0 0 0;
	background:#fafafa;
}

*{
	box-sizing:border-box;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.content{
	padding-top:15px;
}

// HEADER:
.header-title{
	float: left;
    position: absolute;
    left: 200px;
    right: 200px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 28px 0 0 0;
    color: #4d4d4d;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse { 
    display: none!important;
}
.navbar-collapse.collapse.in {
  display: block!important;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default{
	background-color:#f2f2f2 !important;
}
.navbar-header{
	height:80px;
}
.navbar-toggle{
	margin-top: 22px;
    margin-left: 15px;
    height: 36px;
    background-color: #999999 !important;
    width: 38px;
}
.icon-bar{
	background-color: #f2f2f2 !important;
    margin:1px 0 4px 0 !important;
    width:100% !important;
}
.menu-label{
	margin: 29px 0 0 -5px;
    font-size: 18px;
    color: #999999;
}
.renault-logo{
	height: 45px;
    margin-top: 0;
}
.renault-logo-small{
    display:none !important;
    float: right;
    height: 60px;
    margin: -7px -15px 0 0;
}
.sub-header{
	position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #f2ce32;
    z-index: 999;
    box-shadow: 0px 7px 25px -15px black;

    .sub-pagetitle{
        float: left;
        width: 100%;
        text-transform: uppercase;
        margin: 10px 0 0 0;
        padding: 0;
        text-align: center;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;

    }
}

.btn{
    color: #fff;
    padding: 7px 10px 5px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-image: none;
}
.btn-default, .btn-default:hover{background-color:#f4f4f4; border-bottom:solid 4px #cecece !important;color:#757575 !important}
.btn-primary, .btn-primary:hover{background-color:#337ab7 !important;color:white !important;border-bottom:solid 4px #245580 !important}
.btn-succcess, .btn-success:hover{background-color:#46d466 !important;color:white !important;border-bottom: solid 4px #3caf50;}
.btn-danger, .btn-danger:hover{background-color:#d9534f !important;border-bottom:solid 4px #d43f3a !important;}
.btn:active, .btn:focus{
    margin-top:4px;
    border-bottom:none !important;
    outline:none !important;
}
// sidenav:

.sidenav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    z-index:10;


    .overlay{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0,0,0, 0.5);
        z-index:11
    }
    .sidenav-menu{
        position:absolute;
        top:0;
        bottom:0;
        background-color:#444;
        z-index:12;
        padding-top:30px;
        overflow-y:auto;

        .close-nav{
            position: absolute;
            top: 15px;
            line-height: 22px;
            right: 15px;
            cursor: pointer;
            color: #dcdcdc;
            font-size: 40px;
        }
        .close-nav:hover{
            color:#fff;
        }
        .logged-in-as{
            float: left;
            width: 100%;
            margin: 30px 0 0 0;
            padding-bottom: 15px;
            box-shadow: 0px 9px 5px -9px #333;
            
            .avatar{
                display:block;
                width:120px;
                height:120px;
                border:solid 2px #f9f9f9;
                background-color:#f1f1f1;
                border-radius:100%;
                margin:0 auto 15px auto;
                background-size: cover;
                background-position: center center;
                background-repeat:no-repeat;
            }
            p{
                float:left;
                width:100%;
                color:#fff;
                text-align:center;
            }
        }
        .navbar-nav{
            float:left;
            width:100%;
            margin:0 !important;
            
            
            li{
                float:left;
                width:100%;
                border-left:solid 3px #444;

                a{
                    float:left;
                    width:100%;
                    color:#dcdcdc;
                    font-size:16px;
                    text-shadow:none !important;
                    padding:15px;
                }
                a:hover{
                    color:#fff;
                }
            }
            li.active{
                border-left:solid 3px #f2ce32 !important;
                background-color:#333 !important;
                a{
                    background-image:none !important;
                    box-shadow:none !important;
                    background-color:transparent !important;
                    color:#fff;
                }
            }
        }
    }

}

.big-filter.visitfilter{
    padding:10px 0;
    background-color:#e6e6e6;
    margin-top:-15px;
    margin-bottom:0;

    form{

        label{
            margin:10px 0;

            span{
                float:left;
                width:100%;
                color:#adadad;
                font-size:18px;
                font-weight:normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            input[type="text"]{
                float:left;
                width:100%;
                height:36px;
                background:transparent;
                border-top:none;
                border-left:none;
                border-right:none;
                border-bottom:solid 1px #ccc;
                color:#80808a;
                font-weight:normal;
                font-size:16px;
            }
            input[type="text"]:active, input[type="text"]:focus,
            select:active, select:focus{
                outline:none;
                box-shadow:none;
            }

            select{
                /*float:left;
                width:100%;
                height:36px;
                 background:transparent;
                border-top:none;
                border-left:none;
                border-right:none;
                border-bottom:solid 1px #ccc;
                color:#80808a;
                font-weight:normal;
                font-size:16px;*/
            }
            .btn-group.bootstrap-select{
                float: left;
                width: 100%;

                button{
                    float:left;
                    width:100%;
                    height:36px;
                    background:transparent;
                    border-top:none;
                    border-left:none;
                    border-right:none;
                    border-bottom:solid 1px #ccc !important;
                    color:#80808a;
                    font-weight:normal;
                    font-size:16px;
                    box-shadow: none !important;
                    border-radius: 0 !important;
                    padding-left:0 !important;

                    .filter-option{
                        color: #80808a;
                        font-weight: normal;
                        font-size: 16px;
                        text-shadow: none;
                        letter-spacing: 0;
                        text-transform: initial;
                    }

                    .bs-caret{
                        .caret{
                            width: 8px !important;
                        }
                    }   
                }
                button:active, button:focus{
                    margin:0 !important;
                    outline:none !important;
                }
                .dropdown-menu{
                    .bs-searchbox{
                        input{
                            margin-bottom: 10px;
                            border: solid 1px #ccc;
                        }
                    }
                    ul.dropdown-menu{
                        max-height:300px !important;

                        li{
                            a{
                                float:left;
                                width:100%;
                                span{
                                    font-size:12px;
                                }
                            }
                        }
                    }
                }
            }
        }




        input[type="submit"]{
            float: left;
            width: 100px;
            background-color: #46d466;
            color: #fff;
            padding: 7px 10px 5px;
            border-radius: 5px;
            text-transform: uppercase;
            border-top:none;
            border-left:none;
            border-right:none;
            border-bottom: solid 4px #3caf50 !important;
            margin-top: 26px;
        }
        input[type="submit"]:active, input[type="submit"]:focus{
            border:none !important;
            margin-top:30px !important;
            outline:none;
            box-shadow:none;
        }
    }
}

@media (max-width: 768px) {
    .menu-label{
        display:none;
    }
    .renault-logo{
        display:none !important;
    }
    .header-title {
        left: 80px;
        right: 80px;
        font-size: 20px;
        margin: 28px 0 0 0;
    }
    .renault-logo-small{
        display:block !important; 
    }
}
@media (min-width: 415px) {
    .sidenav-menu{
        width:320px;
        left:-320px; 
    }
}
@media (max-width: 414px) {
    .sidenav-menu{
        width:100%;
        left:-100%; 
    }
    .header-title {
        font-size: 16px;
    }
    
}