.projects-wrapper{

	.add-project{

		.panel-body{
			height:116px;
			padding:25px 25px 25px 100px !important;

			.add-project-icon{
				position:absolute;
				left:25px;
				font-size:50px;
				top: 50%;
				transform: translateY(-50%);
				color:#999;

			}

			p{
				position:absolute;
				font-size:50px;
				top: 50%;
				transform: translateY(-50%);
				left:100px;
				right:25px;
				color:#999;
				font-size:22px;
				font-weight:bold;
				letter-spacing: 1px;
				text-transform: uppercase;
				text-align:center;
			}
		}
		.panel-body:hover{
			.add-project-icon, p{
				color:black !important;
			}
		}

	}

 
	.project{
		
		

		.panel{
			float:left;
			width:100%;
			border:none;
			background:transparent;
			box-shadow: none;

			p, .project-btn, .add-project-icon, .panel-body{
				-webkit-transition: all .1s ease-in-out;
				-moz-transition: all .1s ease-in-out;
				-o-transition: all .1s ease-in-out;
				transition: all .1s ease-in-out;
			}

			.panel-body{
				float:left;
				width:calc(100% - 38px);
				padding: 25px 50px 25px 25px;
				cursor:pointer;
				background-color:white;
				position:relative;

				p.project-title{
					float:left;
					width:100%;
					margin:0 0 10px 0;
					font-size:20px;
					font-weight:bold;
					letter-spacing: 1px;
					text-transform: uppercase;
					color:#999;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				p.project-wave_year{
					float:left;
					width:100%;
					font-size:16px;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin:0;
					color:#999;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					span{
						margin:0 10px;
					}
				}
				.project-btn{
					position:absolute;
					right:15px;
					font-size:28px;
					top: 50%;
					transform: translateY(-50%);
					color:#999;
				}
				
				.description{
					position:absolute;
					z-index:102;
					left:0;
					right:0;
					bottom:0;
					background-color:#fff;

					.description-text{

						position: absolute;
					    width: 100%;
					    padding: 0;
					    z-index: 102;
					    overflow: hidden;
					    top: 100%;
					    padding: 15px;
					    left: 0;
					    right: 0;
					    background-color: #efefef;
					    display: none;
					    box-shadow: 5px 5px 17px -12px black;
					    /* border: solid 1px #f1f1f1; */
					    border-bottom-right-radius: 5px;
					    border-bottom-left-radius: 5px;
					    font-size: 16px;
					    color: black;
					}

					.toggle-description{
						position: absolute;
					    bottom: 0;
					    margin: 0 auto;
					    left: 0;
					    right: 0;
					    width:50px;
					    background-color: #fff;
					    border-top-left-radius: 5px;
					    border-top-right-radius: 5px;
					    padding: 3px 10px 5px 10px;
					    z-index: 101;
					    opacity:0;
					    cursor:pointer;

						span{
							float: left;
						    width: 100%;
						    height: 1px;
						    background-color: #c5c5c5;
						    margin-top: 3px;
						}
					}
					.toggle-description:hover{
						background-color:#f1f1f1;
					}
				}
					


			}

			.panel-body:hover{
				box-shadow: 0px 0px 15px -7px black;
				z-index: 100;
				


				.toggle-description{
					opacity:1;
				}

				.project-btn, p.project-wave_year, p.project-title{
					color:black;
				}

			}
			
			
				

			.project-options{
				float:left;
				width:38px;
				position:relative;
				background-color: #f1f1f1;
				z-index:99;

				a{
					position:absolute;
					left:10px;
					font-size:16px;
					color:#848484;
				}
				.edit-project-btn{top:15px;}
				.delete-project-btn{top:45px;}
				.question-list-btn{top:75px;}
				a:hover{
					color:black;
				}
				a:hover, a:active, a:focus{
					text-decoration: none;
				}
			}
		}
	}
}