
.report-option-bar{
	background-color: #f1f1f1;
	padding:10px 0;
	margin-bottom:15px;

	button, a{
		float:left;
		margin-right:15px !important;
	}
}
.report{

	.report-table-wrapper{
		float:left;
		width:100%;
		overflow-x:auto;
		position:relative;

		.report-table-loader{
			position:absolute;
			top:56px;
			left:0;
			right:0;
			bottom:0;
			background-color:#fafafa;
			z-index:999;

			
	        .spinner{
	        	border-left: 2px solid #a0a0a0 !important;
	        	border-right: 2px solid #a0a0a0 !important;
	        }
		    
		}



		table.report-table{
			float:left;
			width:100%;
			min-width:1366px;

			thead{

				tr{

					th.data-col{
						padding:0 5px;
						width:calc(50% / 6);
						cursor:pointer;
						

						div{
							float:left;
							width:100%;
							padding:12px 35px 12px 12px;
							background-color:#ccc;
							color:#808080;
							font-size:14px;
							text-transform: uppercase;
							letter-spacing: 1px;
							height: 52px; 
	    					line-height: 15px;
	    					position:relative;

	    					span.sort-icon{
	    						position:absolute;
	    						right:10px;
	    						font-size:12px;
	    					}
	    					.sort-asc{
	    						top:16px;
	    					}   
	    					.sort-desc{
	    						top:25px;
	    					}		
						}
					}
					th.data-col:nth-child(1){padding-left:0 !important;}
					th.data-col:nth-child(7){padding-right:0 !important;}
					th.data-col:active div{background-color:#999999;color:#e6e6e6;}

					th.progress-col{
						
						text-align:center;
						font-size:12px;
						color:#808080;
						width:calc(50% / 8);
						vertical-align: center;
						
						div.progress-col-header{
							float:left;
							width:calc(100% / 8);
							text-align:center;
							padding:7px 0;
							text-transform: uppercase;

							button{
								width:100%;
								background-color: #46d466;
							    color: #fff;
							    padding: 7px 5px 5px;
							    border: none;
							    border-radius: 5px;
							    text-transform: uppercase;
							    border-bottom: solid 4px #3caf50;
							    span.loading{
							    	float:left;
							    	width:75%;
							    	white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
							    }
							    span.spinner-wrapper{
							    	float:right;
							    	width:25%;
								    span.btn-spinner{
								    	float:right;
										//margin-left: 15px;
										-webkit-animation: rotating .5s linear infinite;
										-moz-animation: rotating .5s linear infinite;
										-ms-animation: rotating .5s linear infinite;
										-o-animation: rotating .5s linear infinite;
										animation: rotating .5s linear infinite;
								    }
								}
							}
							button:disabled{
								background-color: #e6e6e6;
							    color: #999;
							    border-bottom:none;
							    margin-top:4px;
							}
							button:active{
								border-bottom:none;
								outline:none;
								margin-top:4px;
							}
							button:focus, button:visited{
								outline:none;
							}

						}	
					}
				}
			}	

			tbody{

				tr{

					td.data-col{
					    color: #4c4c4c;
					    font-size: 12px;
					    padding: 15px 0 15px 15px;
					    border-top:solid 10px #fafafa;
					    border-bottom: solid 1px #e1e1e1;
						background-color:#fff;
					}

					td.progress-col{
						padding:15px 0;
						width: 100%;

						.progress-step{
							float:left;
							//width:calc(100% / 8);
							height:40px;
							position:relative;

							.step{
								position:absolute;
								display:block;
								margin:0 auto;
								width:40px;
								height:40px;
								background-color:#e6e6e6;
								border-radius:100%;
								left:0;
								right:0;
								text-align:center;

								a{
									text-decoration: none;

									.ammount-label{
										position: absolute;
									    top: -7px;
									    right: -7px;
									    width: 15px;
									    height: 15px;
									    border-radius: 100%;
									    font-size: 10px;
									    padding-top: 1px;
									    color: white;
									    background-color: #4091d7;
									    text-align: center;
									}
								}
								a:hover, a:active, a:focus, a:visited{
									color:white;
									text-decoration: none;
								}

								.step-done{
									display: block;
								    margin: 5px auto 0 auto;
								    height: 29px;
								    width: 27px;
								    background-color: #46d464;
								    padding-top: 8px;
								    color: white;
								    border-bottom: solid 3px #019d30;
								    border-radius: 100%;
								    position:absolute;
								    left:0;
								    right:0;
								    z-index:12;
								}
								.step-in_progress{
									display: block;
								    margin: 10px auto 0 auto;
								    height: 20px;
								    width: 20px;
								    background-color: #46d464;
								    border-radius: 100%;
								    position: absolute;
								    left: 0;
								    right: 0;
								    z-index: 12;
								    margin-top: 10px;
								}
								.step-add{
									display: block;
								    margin: 5px auto 0 auto;
								    height: 29px;
								    width: 29px;
								    background-color: #fff;
								    padding-top: 6px;
    								padding-left: 1px;
								    color: #46d464 !important; 
								    border:solid 1px #46d464;
								    border-radius: 100%;
								    position:absolute;
								    left:0;
								    right:0;
								    z-index:12;
								}
								.step-add:hover{
									background-color: #46d464;
									color:  #fff !important; 
								    //border:solid 1px #46d464;
								}
							}
							.path{
								position:absolute;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								transform: translateY(-50%);
								width:50%;
								height:15px;
								background-color:#e6e6e6;
								z-index:9;

								span{
									float:left;
									width:100%;
									height:5px;
									background-color: #46d464;
									margin-top:3px;
									float: left;
								    width: 100%;
								    height: 6px;
								    background-color: #46d464;
								    margin-top: 5px;
								    position:absolute;
								    z-index:11;
								}
							}
							.path.right{right:0;}
							.path.left{left:0;}

							input[type="checkbox"]{
								display:none;
							}
							.progress-check{
								margin: 6px auto 0 auto;
							    display: block;
							    width: 25px;
							    height: 25px;
							    border-radius: 5px;
							    background-color: #e6e6e6;
							    cursor: pointer;
							    border:solid 4px #e6e6e6;
							}
							.progress-check:active{
								background-color:#cecece; 
							}
							.progress-check.checked{
								background-color:#a2a2a2;
							}
						}
							
					}
				}
				.clickable-row .data-col{
					cursor:pointer;
				}
				.clickable-row:hover .data-col{
					background-color:#f7f7f7;
				}




				tr.expandable{
					

					td.report-info{
						padding:0;

						.visit-info-wrapper{
							display:none;
							float:left;
							width:100%;
							background-color:#ccc;
							padding:15px;
							position:relative;

							*{
								color:#808080;
							}

							.visit-info{
								float:left;
								width:calc(100% / 3);

								span{
									float:left;
									width:100%;

									label{
										float:left;
										margin:0 0 0 0;
										width:140px;
										font-size:14px;
									}
									label.small{
										width:80px;
									}
									label.full-width{
										width:100%;
										margin:0 0 5px 0;
									}
									p{
										overflow: hidden;
										margin:0 0 0 0;
									}
									p.full-width{
										float:left;
										width:100%;
									}
								}
							}

							a.visit-option-btn{
								position:absolute;
								top:15px;
							}
							.delete-visit{
								right:15px;
							}
							.edit-visit{
								right:35px;
							}


						}
					}

				}




			}
		}
	}
}

.publish-alert{
	position:fixed;
	right: 15px;
    top: 15px;
    width: 300px;
    z-index: 9999999;
}
/* END REPORT */

@media (max-width: 1599px) {
	table.report-table{
		.progress-col-header{
			-ms-transform: rotate(-40deg);
		    -webkit-transform: rotate(-40deg);
		    transform: rotate(-40deg);
		    font-size: 10px;
		}
		.progress-col-header:last-child{
			-ms-transform: rotate(0deg) !important;
		    -webkit-transform: rotate(0deg) !important;
		    transform: rotate(0deg) !important;
		    font-size: 12px !important;
		}
	}
}