.uploads{

	h3{
		float:left;
		width:100%;
		margin:0 0 15px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		color:#808080;
		font-size:24px; 
	}
	.snapshot-col{
		padding-left:0 !important;
		padding-right:0 !important;

		.snapshot-wrapper{
			float:left;
			width:100%;
			//margin-bottom:15px;

			.image{
				float:left;
				width:100%;
				max-height:200px;
				overflow-y:hidden;
				position:relative;
				padding-left:1px;
				margin-bottom:1px;

				img{
					float:left;
					width:100%;
					//cursor:pointer;
				}

				.comment{
					position:absolute;
					left:0;
					right:0;
					height:100%;
					top:-100%;
					background-color:rgba(266,266,266, 0.6);
					margin:0;
					padding:15px;
					-webkit-transition-property: top;
  					-webkit-transition-duration: 0.3s;

  					p{
  						float:left;
  						width:calc(100% - 50px);
  						padding-right:10px;
  						word-break: break-all;
  					}

  					.zoom-in-image{
  						position:absolute;
  						top:0;
  						bottom:0;
  						right:0;
  						width:50px;
  						cursor:pointer;
  						transition: background-color 0.1s ease;

  						span{
					    	position: absolute;
					    	left: 0;
					    	right: 0;
					    	top: 50%;
  							transform: translateY(-50%);
					    	text-align: center;
					    	font-size: 20px;

  						}
  					}
  					.zoom-in-image:hover{
  						background-color:rgba(266,266,266, 0.7);
  					}
				}
			}
			.image:hover{
				.zoom-icon{
					display:block;
				}
				p.created-by, p.created-at{
					display:block;
				}
				.comment{
					top:0 !important;
				}
			}

			.comment{
				float:left;
				width:100%;
				margin-top:5px;

				
				p.img-info:last-child{
					margin-bottom:5px !important;
				}
				p.description{
					float:left;
					width:100%;
					margin:0;
				}
			}
		}
	}
}

.uploads-overlay{
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0, 0.5);
	z-index:999999;
	text-align: center;
	overflow-y:auto;

	.zoomed-image{
		display:inline-block;
		padding:15px;
		background-color:#f8f8f8;
		margin:25px auto 0 auto;
		position:relative;
		border-radius:3px;
		max-width: 730px;
		z-index:99999999;
		opacity:0;

		.close-overlay{
			position: absolute;
		    color: #888;
		    cursor: pointer;
		    font-size: 20px;
		    z-index:999999999;
		    top:20px;
		    right:20px;
		}
		.close-overlay:hover{
			color:#666;
		}
		
		.image-well{
			float:left;
			margin:0;
			padding:0;

			img{
				max-width: 700px;
			}
		}
	}
	.loader{
		position:absolute;
		left: 0;
    	right: 0;
    	top:0;
    	text-align: center;
    	font-size: 20px;
    	z-index:9999999;
	}
}
.spinner {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid transparent; /* dark grey */
    border-bottom: 2px solid transparent; /* dark grey */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .5s linear infinite;
    margin:25px auto 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}