<?php

/** @var \Survey\Entity\Upload $upload */

$title = 'Uploads';
$this->headTitle($title);

?>

<div class="uploads-overlay">

	<div class="zoomed-image">
		<span class="glyphicon glyphicon-remove close-overlay"></span>
		<div class="image-well">
			<img onload="fadeIn($(this).parent().parent())" src=""/>
		</div>
	</div>

	<div class="loader">
		<div class="spinner"></div>
	</div>

</div>

<div class="row uploads">

	<div class="col-xs-10 col-xs-push-2">
		<a class="btn btn-default" style="margin-bottom:15px;" href="<?= '#' /*$this->url('visit/index', ['action' => 'index', 'project' => $project_id], ['query' => $this->params])*/ ?>">Back</a>
	</div>

	<div class="col-xs-12 col-md-8 col-md-push-2">

		<h3>Snapshot uploads</h3>

		<div class="row">

            <?php foreach ($uploads as $upload){?>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 snapshot-col">
				<div class="snapshot-wrapper">

					<div class="image">
						<img class="expand-image" src="<?= $this->url('upload/image', ['action' => 'image', 'project' => $project_id, 'report' => $report_id, 'upload' => $upload->getId()], ['query' => null]) ?>"/>

						<div class="comment">
							<p><b>AUTHOR:</b> <?= $upload->getAuthor()->getName() ?></p>
							<p><b>DATE:</b> <?= $upload->getTime()->format('d-m-Y H:i') ?></p>
							<p><b>DESCRIPTION:</b><br/><?= $upload->getComment() ?></p>
							
							<div class="zoom-in-image">
								<span class="glyphicon glyphicon-zoom-in"></span>
							</div>
						</div>
					</div>

				</div>
			</div>

			<?php } ?>

            <?php
            if(count($uploads) == 0){
                ?>
                <p>No uploads</p>
                <?php
            }
            ?>

		</div>

	</div>

</div>

<script>
$(document).ready(function(){


	$(".zoom-in-image").click(function(){
		// copy paste image src into img element inside overlay:
		var imageSrc = $(this).parent().siblings(".expand-image").attr("src");
		$(".image-well img").attr("src", imageSrc);
		// define image width (for dynamic overlay proportions)
		var overlayWidth = $(".image-well img").outerWidth() + 30;
		// fade in the overlay:
		$(".uploads-overlay").fadeIn(200);

	});

	$(".close-overlay, .uploads-overlay").click(function(){

		$(".uploads-overlay").fadeOut(200);
		$(".zoomed-image").animate({
			opacity:0
		}, 300, function(){
			$(".loader").show();	
		})
		
	});

	$(".zoomed-image").click(function(){
		return false;
	});

});

window.fadeIn = function(e) {
    e.animate({
    	opacity:1
    },200);
    $(".loader").fadeOut(200);
}
</script>