<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 2-11-17
 * Time: 15:02
 */

$title = 'Save Project';
$this->headTitle($title);
?>
    <h1><?= $this->escapeHtml($title) ?></h1>
<?php

$projectCo = $this->form->get('project');

$client = $projectCo->get('client');
$client->setAttribute('class', 'form-control');

$type = $projectCo->get('type');

$wave = $projectCo->get('wave');
$wave->setAttribute('class', 'form-control');

$label = $projectCo->get('label');
$label->setAttribute('class', 'form-control');

$year = $projectCo->get('year');
$year->setAttribute('class', 'form-control');

$description = $projectCo->get('description');
$description->setAttribute('class', 'form-control');

$competitor = $projectCo->get('competitor');
$archive = $projectCo->get('archive');

$submit = $this->form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$this->form->setAttribute('action', $this->url('project/save', ['action' => 'index', 'project' => $this->project_id]));
$this->form->prepare();

if(! empty($this->message)){

    ?>
    <div class="alert alert-danger" role="alert"><?= $this->message ?></div>
    <?php
}

echo $this->form()->openTag($this->form);
?>
    <div class="form-group">
        <?= $this->formLabel($client) ?>
        <?= $this->formElement($client) ?>
        <?= $this->formElementErrors()->render($client, ['class' => 'help-block']) ?>
    </div>

  <?= $this->formLabel($type) ?>
  <?= $this->formRadio($type) ?>
  <?= $this->formElementErrors()->render($type, ['class' => 'help-block']) ?>

    <div class="form-group">
        <?= $this->formLabel($label) ?>
        <?= $this->formElement($label) ?>
        <?= $this->formElementErrors()->render($label, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($wave) ?>
        <?= $this->formElement($wave) ?>
        <?= $this->formElementErrors()->render($wave, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($year) ?>
        <?= $this->formElement($year) ?>
        <?= $this->formElementErrors()->render($year, ['class' => 'help-block']) ?>
    </div>
  <div class="form-group">
        <?= $this->formLabel($description) ?>
        <?= $this->formElement($description) ?>
        <?= $this->formElementErrors()->render($description, ['class' => 'help-block']) ?>
    </div>

    <div class="checkbox">
      <label>
          <?= $this->formCheckbox($competitor) ?>
        Competitor
      </label>
    </div>

    <div class="checkbox">
      <label>
          <?= $this->formCheckbox($archive) ?>
        Archive
      </label>
    </div>

<?php
echo $this->formSubmit($submit);
echo $this->form()->closeTag();

if($this->status != null){
    echo $this->status;
}
?>