<style>

  .option{
    float:left;
    width:100%;
  }
</style>

<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 7-11-17
 * Time: 15:09
 */

$title = 'Save Competitor';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php

$this->form->setAttributes(['id' => 'competitorForm']);
$competitorCo = $this->form->get('competitor');

$brand = $competitorCo->get('brand');
$brand->setAttribute('class', 'form-control');

$name = $competitorCo->get('name');
$name->setAttribute('class', 'form-control');

$address = $competitorCo->get('address');
$address->setAttribute('class', 'form-control');

$zipcode = $competitorCo->get('zipcode');
$zipcode->setAttribute('class', 'form-control');

$city = $competitorCo->get('city');
$city->setAttribute('class', 'form-control');

$phone = $competitorCo->get('phone');
$phone->setAttribute('class', 'form-control');

$fax = $competitorCo->get('fax');
$fax->setAttribute('class', 'form-control');

$email = $competitorCo->get('email');
$email->setAttribute('class', 'form-control');

$submit = $this->form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$this->form->setAttribute('action', $this->url('competitor/save', ['action' => 'index']));
$this->form->prepare();

if(! empty($this->message)){

  ?>
  <div class="alert alert-danger" role="alert"><?= $this->message ?></div>
    <?php
}

echo $this->form()->openTag($this->form);
?>

<div class="form-group">
    <?= $this->formLabel($brand) ?>
    <?= $this->formElement($brand) ?>
    <?= $this->formElementErrors()->render($brand, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($name) ?>
    <?= $this->formElement($name) ?>
    <?= $this->formElementErrors()->render($name, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($address) ?>
    <?= $this->formElement($address) ?>
    <?= $this->formElementErrors()->render($address, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($zipcode) ?>
    <?= $this->formElement($zipcode) ?>
    <?= $this->formElementErrors()->render($zipcode, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($city) ?>
    <?= $this->formElement($city) ?>
    <?= $this->formElementErrors()->render($city, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($phone) ?>
    <?= $this->formElement($phone) ?>
    <?= $this->formElementErrors()->render($phone, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($fax) ?>
    <?= $this->formElement($fax) ?>
    <?= $this->formElementErrors()->render($fax, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($email) ?>
    <?= $this->formElement($email) ?>
    <?= $this->formElementErrors()->render($email, ['class' => 'help-block']) ?>
</div>

<?php
echo $this->formHidden($competitorCo->get('id'));
echo $this->formSubmit($submit);
echo $this->form()->closeTag();

if($this->status != null){
    echo $this->status;
}
?>

