<div class="row login-container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-centered login-box-wrapper">
        <div class="login-box">
            <?php
            /**
             * Created by PhpStorm.
             * User: ismail
             * Date: 5-4-17
             * Time: 10:19
             */
            $title = ' ';
            $this->headTitle($title);
            ?>
                <h1>Login</h1>
            <?php

            $email = $form->get('email');
            $email->setAttribute('class', 'form-control');
            $email->setAttribute('placeholder', 'email');

            $password = $form->get('password');
            $password->setAttribute('class', 'form-control');
            $password->setAttribute('placeholder', 'password');

            $submit = $form->get('login');
            $submit->setAttribute('class', 'btn btn-primary');

            $form->setAttribute('action', $this->url('user/login', ['action' => 'index']));
            $form->prepare();

            echo $this->form()->openTag($form);
            ?>
            <?php // Wrap the elements in divs marked as form groups, and render the
            // label, element, and errors separately within ?>
                <div class="form-group">
                    <?php //echo $this->formLabel($email); ?>
                    <span class="glyphicon glyphicon-user user-icon"></span>
                    <?= $this->formElement($email) ?>
                    <?= $this->formElementErrors()->render($email, ['class' => 'help-block']) ?>
                </div>

                <div class="form-group">
                    <?php //echo $this->formLabel($password); ?>
                    <span class="glyphicon glyphicon-lock pass-icon"></span>
                    <?= $this->formElement($password) ?>
                    <?= $this->formElementErrors()->render($password, ['class' => 'help-block']) ?>
                </div>

            <?php
            echo $this->formSubmit($submit);
            echo $this->form()->closeTag();

            ?>
        </div>
    </div>
</div>