<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 8-8-17
 * Time: 15:09
 */

/** @var \Survey\Entity\Comment $comment */
/** @var \Zend\Form\Form $form */


$title = 'Feedback';
$this->headTitle($title);

$titleEl = $form->get('title');
$titleEl->setAttribute('class', 'form-control');

$commentEl = $form->get('comment');
$commentEl->setAttribute('class', 'form-control');

if(! empty($status) && $status == 'success'){
    $titleEl->setValue('');
    $commentEl->setValue('');
}

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('comment/index', [
    'action' => 'index',
    'project'     => $project_id,
    'report'     => $report_id,
]));

$form->prepare();

?>


<div class="row feedback">

	<div class="col-xs-12 col-md-10 col-md-push-2" style="margin-bottom:15px;">
		<a class="btn btn-default" href="<?= '#' /*$this->url('visit/index', ['action' => 'index', 'project' => $project_id], ['query' => $this->params])*/ ?>">Back</a>
	</div>

	<div class="col-xs-12 col-md-4 col-md-push-2 feedback-items">

		<h3>Feedback items</h3>

		<div class="feedback-items-wrapper">

            <?php foreach ($comments as $comment){ ?>
                <div class="feedback-item">

                    <div class="details">
                        <p><span>Created by: </span> <?= $comment->getAuthor()->getName() ?></p>
                        <p><span>Created at: </span> <?= $comment->getTime()->format('d-m-Y H:i') ?></p>

                        <span class="showhide-feedback glyphicon glyphicon-chevron-right"></span>
                    </div>

                    <div class="feedback-content">
                        <p class="fdbck-title"><?= $comment->getTitle() ?></p>
                        <p class="fdbck-description">
                            <?= $comment->getComment() ?>
                        </p>
                    </div>
                </div>
            <?php } ?>

		</div>

	</div>

	<div class="col-xs-12 col-md-3 col-md-push-2 add-feedback">

		<h3>Add feedback</h3>

		<div class="feedback-form-wrapper">

            <?= $this->form()->openTag($form); ?>

            <!--<div class="form-group"></div>-->
                <?= $this->formElement($titleEl) ?>
            <!--<div class="form-group"></div>-->
                <?= $this->formElement($commentEl) ?>

            <?= $this->formSubmit($submit); ?>

            <?= $this->form()->closeTag(); ?>

            <?php foreach($this->form->getMessages() as $element){ ?>
                <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <?php foreach($element as $message){ ?>

                    <?= '&centerdot; ' . $message . '<br/>' ?>

                <?php } ?>

                </div>
                <?php //var_dump($message); ?>

            <?php } ?>

            <?php // var_dump($this->form->getMessages()) ?>

            <?php if(! empty($status) && $status == 'success'){ ?>
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <?= "Saved" ?>
            </div>
            <?php } ?>
		</div>

	</div>

</div>

<script>
$(document).ready(function(){

	$(document).on('click', '.showhide-feedback.glyphicon-chevron-right', function(){
		$(this).removeClass("glyphicon-chevron-right");
		$(this).addClass("glyphicon-chevron-down");
		$(this).parent().parent().find(".feedback-content").slideDown(300);
	});
	$(document).on('click', '.showhide-feedback.glyphicon-chevron-down', function(){
		$(this).removeClass("glyphicon-chevron-down");
		$(this).addClass("glyphicon-chevron-right");
		$(this).parent().parent().find(".feedback-content").slideUp(300);
	});

	$('.showhide-feedback.glyphicon-chevron-right').click();
})

</script>