<?php
//echo $this->serverUrl() . $this->basePath();
/**
 * @var \Survey\Entity\Report $report
 * @var \Survey\Entity\Answer $answer
 * @var \Survey\Entity\Question $question
 * @var \Survey\Entity\AnswerPhoto $photo
 */

$title = 'Report';

$this->headTitle($title);
$project_id = $report->getVisit()->getProject()->getId();
$project_name = $report->getVisit()->getProject()->getLabel();
$project_Wave = $report->getVisit()->getProject()->getWave();
$project_desc = $report->getVisit()->getProject()->getDescription();
?>
<style>
    *{
        font-family:helvetica;
    }
</style>
<?php include('pdf_styles.php'); ?>

Concept-rapport beheerplatform

<table class="pdf-title">
    <tr>
        <td><h1><?= $project_name ?><br/><span><?= $project_Wave ?></span></h1></td>
        <?php /*<td><img src="<?= $this->serverUrl() . $this->basePath() ?>/img/renault-logo.png"/></td>*/ ?>
    </tr>
</table>

<table class="pdf-subtitle">
    <tr>
        <td colspan="2">
            <label>Report version:</label><p><?= $report->getVersion() ?></p>
        </td>
    </tr>
    <tr>
        <td>
            <label>Location:</label><p><?= $report->getVisit()->getLocation()->getName() ?></p>
        </td>
    </tr>
    <tr>
        <td>
            <label>Advisor:</label><p><?= $report->getVisit()->getAdvisor()->getName() ?></p>
        </td>
    </tr>
</table>

<table class="pdf-totalscore">
    <tr>
        <td style="width:65%;color:#fff !important;">Totaal</td>
        <td class="totalscore-col">
            
            <?php
                if($report->getScore() >= 80){
                    $percentage_style = "background-color:#15A645;";
                    $bar_style = "border:solid 1px #dadada";
                    $score_style = "color:#fff;";
                }elseif($report->getScore() < 80 && $report->getScore() >= 60){
                    $percentage_style = "background-color:#FF9043;";
                    $bar_style = "border:solid 1px #dadada";
                    $score_style = "color:#fff;";
                }else{
                    $percentage_style = "background-color:#FF3B3B;";
                    $bar_style = "border:solid 1px #FF3B3B";
                    $score_style = "color:#fff;";

                    if($report->getScore() < 10){
                        $score_style = "color:#000;";
                    } 
                }
            ?>
            <div class="score_bar" style="<?= $bar_style ?>">
                <span class="percentage_bar" style="width:<?= $report->getScore().'%' ?>;<?= $percentage_style ?>">
                    <p style="<?= $score_style ?>"><?= $report->getScore().'%' ?></p>
                </span>
            </div>
        </td>
    </tr>
</table>

<?php if($report->getVisit()->getProject()->getDescription()){ ?>
<table class="pdf-description">
    <tr>
        <td>
            <?= $report->getVisit()->getProject()->getDescription() ?>
        </td>
    </tr>
</table>
<?php } ?>

<table class="pdf-answer">

    <?php
    $counter = 0;
    $determine_heading = '';

    foreach ($report->getAnswers() as $answer){

        $question = $answer->getQuestion();
        $category_id = $question->getCategory()->getId();
        $category_name = $question->getCategory()->getName();
        $category_score = $report->getScorePerCategoryId($category_id);

        $counter++;
    ?>

        <?php if($determine_heading != $category_name){ ?>
            <tr class="heading cat-heading">
                <td style="width:65% !important;"><?= $category_name ?></td>
                <td colspan="3">
                    
                    <?php
                        if($category_score >= 80){
                            $percentage_style = "background-color:#15A645;";
                            $bar_style = "border:solid 1px #dadada";
                            $score_style = "color:#fff;";
                        }elseif($category_score < 80 && $category_score >= 60){
                            $percentage_style = "background-color:#FF9043;";
                            $bar_style = "border:solid 1px #dadada";
                            $score_style = "color:#fff;";
                        }else{
                            $percentage_style = "background-color:#FF3B3B;";
                            $bar_style = "border:solid 1px #FF3B3B";
                            $score_style = "color:#fff;";
                            if($category_score < 10){
                                $score_style = "color:#000;";
                            } 
                        }
                    ?>
                    <div class="score_bar" style="<?= $bar_style ?>">
                        <span class="percentage_bar" style="width:<?= $category_score.'%' ?>;<?= $percentage_style ?>">
                            <p style="<?= $score_style ?>"><?= $category_score.'%' ?></p>
                        </span>
                    </div>
                        
                 </td>
            </tr>
            <tr class="heading cols-heading">
                <td></td>
                <td style="text-align:center;">Answer</td>
                <td style="text-align:center;">Score</td>
                <td style="text-align:center;">Max-score</td>
            </tr>
        <?php } ?>

        <tr class="answer">
            <td class="col1">
                <strong>Question <?= $counter ?> <span>[<i>QID:<?= $question->getId()?></i>]</span>:</strong><br/><?= $question->getQuestion() ?>
                <br/><br/>
                <span><strong>Remark:</strong><br/>
                <i>
                    <?php
                        if(count($answer->getRemark()) > 0){
                            echo $answer->getRemark();
                        }else{
                            echo "-";
                        }
                    ?>
                </i></span>

            </td>
            
            <td class="col2">
                <?= $answer->getAnswer() ?>
                
            </td>

            <?php
                if( $answer->getMaxScore() != "" && $answer->getScore() < $answer->getMaxScore() && $answer->getAnswer() == 'nvt'){
                    $style = "border-left:solid 3px transparent;";
                }
                elseif( $answer->getMaxScore() != "" && $answer->getScore() < $answer->getMaxScore()){ 
                    $style = "border-left:solid 3px red;";

                }elseif($answer->getMaxScore() != "" && $answer->getScore() >= $answer->getMaxScore()){
                    $style = "border-left:solid 3px green;";

                }else{
                    $style = "border-left:solid 3px transparent;";
                }

            ?>
            <td class="col3" style="<?= $style ?>">
                <?php
                    if($answer->getScore() != "" || $answer->getMaxScore() != ""){
                        echo $answer->getScore();
                    }else{
                        echo "-";
                    }
                ?>
            </td>

            <td class="col4">
                <?php
                    if($answer->getMaxScore() != ""){
                        echo $answer->getMaxScore();
                    }else{
                        echo "-";
                    }
                ?>
            </td>

        </tr>
        
        <?php $determine_heading = $category_name; ?>

    <?php } ?>
</table>
 

    





<?php /*
foreach ($report->getAnswers() as $answer){
    $question = $answer->getQuestion();
    ?>

    <div class="row answer-editor">

        <div class="col-md-12 question">
            <h5><span>Question <?= $question->getId()?>: </span><?= $question->getQuestion() ?></h5>
        </div>

        <div class="answer-edit-section">

            <div class="col-md-6">

                <div class="answer">


                    <form action="#" class="answer" id="<?= $answer->getId() ?>">

                        <input type="hidden" name="id" value="<?= $answer->getId() ?>">

                        <div class="form-group">

                            <label class="input-label" for="score">Score:</label>
                            <input type="text" class="form-control score" name="score" readonly value="<?= $answer->getScore() ?>">

                        </div>

                        <div class="form-group">
                            <label class="input-label" for="answer">Answer:</label>

                            <?php if ($question->getType()->getType() == 'open'){ ?>

                                <textarea class="form-control remark" name="answer" rows="3" <?= ($this->identity()->getRole() != 'admin') ? 'readonly' : '' ?>><?= $answer->getAnswer() ?></textarea>

                            <?php } if ($question->getType()->getType() == 'multiple_choice'){ ?>

                                <select class="form-control question_options" name="answer" <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>>
                                    <?php
                                    /**
                                     * @var \Survey\Entity\QuestionOption $questionOption
                                     !!!!COMMENT END HERE!!!! 
                                    foreach ($question->getOptions() as $questionOption){
                                        ?>
                                        <option <?= ($questionOption->getOption() == $answer->getAnswer()) ? 'selected' : '' ?> data-score="<?= $questionOption->getPoints() ?>"><?= $questionOption->getOption() ?></option>
                                    <?php } ?>
                                </select>

                            <?php } if ($question->getType()->getType() == 'yes_no'){ ?>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="answer" value="Ja" <?= ($answer->getAnswer() == 'Ja') ? 'checked' : '' ?> <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>>
                                        Ja
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="answer" value="Nee" <?= ($answer->getAnswer() == 'Nee') ? 'checked' : '' ?> <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>>
                                        Nee
                                    </label>
                                </div>

                            <?php } if ($question->getType()->getType() == 'time'){ ?>

                                <input type="text" class="form-control form_datetime" name="answer" value="<?= $answer->getAnswer() ?>" <?= ($this->identity()->getRole() != 'admin') ? 'readonly' : '' ?>>


                            <?php } ?>

                        </div>

                        <div class="form-group">
                            <label class="input-label" for="remark">Remark:</label>
                            <textarea class="form-control remark" name="remark" rows="3" <?= ($this->identity()->getRole() != 'admin') ? 'readonly' : '' ?>><?= $answer->getRemark() ?></textarea>
                        </div>

                    </form>

                </div>

                <div class="message">

                </div>
            </div>

            <div class="col-md-6">

                <!-- data-toggle="lightbox" data-gallery="mixedgallery" -->

                <?php foreach ($answer->getPhotos() as $photo){ ?>
                    <a href="#" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4" style="max-height:250px;overflow-y:hidden;margin-top:10px;">
                        <img src="<?= $this->url('answer/image', ['action' => 'image', 'photo' => $photo->getId()], ['query' => null]) ?>" class="img-fluid img-responsive">
                    </a>
                <?php } ?>
            </div>

        </div>

    </div>

<?php } ?> */ ?>