/* PLUGINS: */
/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/
@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none !important; } }
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl {
  display: none !important; }

@media (min-width: 1600px) {
  .container {
    width: 1570px; }

  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-11 {
    width: 91.66666667%; }

  .col-xl-10 {
    width: 83.33333333%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-8 {
    width: 66.66666667%; }

  .col-xl-7 {
    width: 58.33333333%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-5 {
    width: 41.66666667%; }

  .col-xl-4 {
    width: 33.33333333%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-2 {
    width: 16.66666667%; }

  .col-xl-1 {
    width: 8.33333333%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-pull-11 {
    right: 91.66666667%; }

  .col-xl-pull-10 {
    right: 83.33333333%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-8 {
    right: 66.66666667%; }

  .col-xl-pull-7 {
    right: 58.33333333%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-5 {
    right: 41.66666667%; }

  .col-xl-pull-4 {
    right: 33.33333333%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-2 {
    right: 16.66666667%; }

  .col-xl-pull-1 {
    right: 8.33333333%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-push-11 {
    left: 91.66666667%; }

  .col-xl-push-10 {
    left: 83.33333333%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-8 {
    left: 66.66666667%; }

  .col-xl-push-7 {
    left: 58.33333333%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-5 {
    left: 41.66666667%; }

  .col-xl-push-4 {
    left: 33.33333333%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-2 {
    left: 16.66666667%; }

  .col-xl-push-1 {
    left: 8.33333333%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .col-xl-offset-11 {
    margin-left: 91.66666667%; }

  .col-xl-offset-10 {
    margin-left: 83.33333333%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-8 {
    margin-left: 66.66666667%; }

  .col-xl-offset-7 {
    margin-left: 58.33333333%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-5 {
    margin-left: 41.66666667%; }

  .col-xl-offset-4 {
    margin-left: 33.33333333%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-2 {
    margin-left: 16.66666667%; }

  .col-xl-offset-1 {
    margin-left: 8.33333333%; }

  .col-xl-offset-0 {
    margin-left: 0; }

  .visible-xl {
    display: block !important; }

  table.visible-xl {
    display: table; }

  tr.visible-xl {
    display: table-row !important; }

  th.visible-xl, td.visible-xl {
    display: table-cell !important; }

  .visible-xl-block {
    display: block !important; }

  .visible-xl-inline {
    display: inline !important; }

  .visible-xl-inline-block {
    display: inline-block !important; }

  .hidden-xl {
    display: none !important; } }
/* Bootstrap xl (1600px + screensize) */
select.bs-select-hidden,
select.selectpicker {
  display: none !important; }

.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/ }
  .bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1; }
    .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
      color: #999; }
  .bootstrap-select > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none; }
    .bootstrap-select > select.mobile-device {
      top: 0;
      left: 0;
      display: block !important;
      width: 100% !important;
      z-index: 2; }
  .has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48; }
  .bootstrap-select.fit-width {
    width: auto !important; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px; }
  .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px; }

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none; }
  .bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%; }
  .bootstrap-select.form-control.input-group-btn {
    z-index: auto; }
    .bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
      border-radius: 0; }

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0; }
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right; }
.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
  margin-bottom: 0; }
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0; }
  .form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
    height: 100%;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit; }
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%; }
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed; }
  .bootstrap-select.btn-group.disabled:focus,
  .bootstrap-select.btn-group > .disabled:focus {
    outline: none !important; }
.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important; }
  .bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060; }
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left; }
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle; }
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%; }
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none; }
  .bootstrap-select.btn-group .dropdown-menu li {
    position: relative; }
    .bootstrap-select.btn-group .dropdown-menu li.active small {
      color: #fff; }
    .bootstrap-select.btn-group .dropdown-menu li.disabled a {
      cursor: not-allowed; }
    .bootstrap-select.btn-group .dropdown-menu li a {
      cursor: pointer;
      user-select: none; }
      .bootstrap-select.btn-group .dropdown-menu li a.opt {
        position: relative;
        padding-left: 2.25em; }
      .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
        display: none; }
      .bootstrap-select.btn-group .dropdown-menu li a span.text {
        display: inline-block; }
    .bootstrap-select.btn-group .dropdown-menu li small {
      padding-left: 0.5em; }
  .bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: whitesmoke;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap; }
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static; }
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px; }

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none; }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0; }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto; }
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block; }

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px; }

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bs-actionsbox .btn-group button {
    width: 50%; }

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bs-donebutton .btn-group button {
    width: 100%; }

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px; }
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none; }

/* Bootstrap select */
/* MAIN */
body {
  margin: 0;
  padding: 120px 0 0 0;
  background: #fafafa; }

* {
  box-sizing: border-box; }

.col-centered {
  float: none;
  margin: 0 auto; }

.content {
  padding-top: 15px; }

.header-title {
  float: left;
  position: absolute;
  left: 200px;
  right: 200px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 28px 0 0 0;
  color: #4d4d4d; }

.navbar-header {
  float: none; }

.navbar-toggle {
  display: block; }

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.navbar-collapse.collapse {
  display: none !important; }

.navbar-collapse.collapse.in {
  display: block !important; }

.navbar-nav > li {
  float: none; }

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px; }

.navbar-default {
  background-color: #f2f2f2 !important; }

.navbar-header {
  height: 80px; }

.navbar-toggle {
  margin-top: 22px;
  margin-left: 15px;
  height: 36px;
  background-color: #999999 !important;
  width: 38px; }

.icon-bar {
  background-color: #f2f2f2 !important;
  margin: 1px 0 4px 0 !important;
  width: 100% !important; }

.menu-label {
  margin: 29px 0 0 -5px;
  font-size: 18px;
  color: #999999; }

.renault-logo {
  height: 45px;
  margin-top: 0; }

.renault-logo-small {
  display: none !important;
  float: right;
  height: 60px;
  margin: -7px -15px 0 0; }

.sub-header {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #f2ce32;
  z-index: 999;
  box-shadow: 0px 7px 25px -15px black; }
  .sub-header .sub-pagetitle {
    float: left;
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 1px; }

.btn {
  color: #fff;
  padding: 7px 10px 5px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background-image: none; }

.btn-default, .btn-default:hover {
  background-color: #f4f4f4;
  border-bottom: solid 4px #cecece !important;
  color: #757575 !important; }

.btn-primary, .btn-primary:hover {
  background-color: #337ab7 !important;
  color: white !important;
  border-bottom: solid 4px #245580 !important; }

.btn-succcess, .btn-success:hover {
  background-color: #46d466 !important;
  color: white !important;
  border-bottom: solid 4px #3caf50; }

.btn-danger, .btn-danger:hover {
  background-color: #d9534f !important;
  border-bottom: solid 4px #d43f3a !important; }

.btn:active, .btn:focus {
  margin-top: 4px;
  border-bottom: none !important;
  outline: none !important; }

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 10; }
  .sidenav .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11; }
  .sidenav .sidenav-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #444;
    z-index: 12;
    padding-top: 30px;
    overflow-y: auto; }
    .sidenav .sidenav-menu .close-nav {
      position: absolute;
      top: 15px;
      line-height: 22px;
      right: 15px;
      cursor: pointer;
      color: #dcdcdc;
      font-size: 40px; }
    .sidenav .sidenav-menu .close-nav:hover {
      color: #fff; }
    .sidenav .sidenav-menu .logged-in-as {
      float: left;
      width: 100%;
      margin: 30px 0 0 0;
      padding-bottom: 15px;
      box-shadow: 0px 9px 5px -9px #333; }
      .sidenav .sidenav-menu .logged-in-as .avatar {
        display: block;
        width: 120px;
        height: 120px;
        border: solid 2px #f9f9f9;
        background-color: #f1f1f1;
        border-radius: 100%;
        margin: 0 auto 15px auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .sidenav .sidenav-menu .logged-in-as p {
        float: left;
        width: 100%;
        color: #fff;
        text-align: center; }
    .sidenav .sidenav-menu .navbar-nav {
      float: left;
      width: 100%;
      margin: 0 !important; }
      .sidenav .sidenav-menu .navbar-nav li {
        float: left;
        width: 100%;
        border-left: solid 3px #444; }
        .sidenav .sidenav-menu .navbar-nav li a {
          float: left;
          width: 100%;
          color: #dcdcdc;
          font-size: 16px;
          text-shadow: none !important;
          padding: 15px; }
        .sidenav .sidenav-menu .navbar-nav li a:hover {
          color: #fff; }
      .sidenav .sidenav-menu .navbar-nav li.active {
        border-left: solid 3px #f2ce32 !important;
        background-color: #333 !important; }
        .sidenav .sidenav-menu .navbar-nav li.active a {
          background-image: none !important;
          box-shadow: none !important;
          background-color: transparent !important;
          color: #fff; }

.big-filter.visitfilter {
  padding: 10px 0;
  background-color: #e6e6e6;
  margin-top: -15px;
  margin-bottom: 0; }
  .big-filter.visitfilter form label {
    margin: 10px 0; }
    .big-filter.visitfilter form label span {
      float: left;
      width: 100%;
      color: #adadad;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .big-filter.visitfilter form label input[type="text"] {
      float: left;
      width: 100%;
      height: 36px;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 1px #ccc;
      color: #80808a;
      font-weight: normal;
      font-size: 16px; }
    .big-filter.visitfilter form label input[type="text"]:active, .big-filter.visitfilter form label input[type="text"]:focus,
    .big-filter.visitfilter form label select:active, .big-filter.visitfilter form label select:focus {
      outline: none;
      box-shadow: none; }
    .big-filter.visitfilter form label select {
      /*float:left;
      width:100%;
      height:36px;
       background:transparent;
      border-top:none;
      border-left:none;
      border-right:none;
      border-bottom:solid 1px #ccc;
      color:#80808a;
      font-weight:normal;
      font-size:16px;*/ }
    .big-filter.visitfilter form label .btn-group.bootstrap-select {
      float: left;
      width: 100%; }
      .big-filter.visitfilter form label .btn-group.bootstrap-select button {
        float: left;
        width: 100%;
        height: 36px;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 1px #ccc !important;
        color: #80808a;
        font-weight: normal;
        font-size: 16px;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding-left: 0 !important; }
        .big-filter.visitfilter form label .btn-group.bootstrap-select button .filter-option {
          color: #80808a;
          font-weight: normal;
          font-size: 16px;
          text-shadow: none;
          letter-spacing: 0;
          text-transform: initial; }
        .big-filter.visitfilter form label .btn-group.bootstrap-select button .bs-caret .caret {
          width: 8px !important; }
      .big-filter.visitfilter form label .btn-group.bootstrap-select button:active, .big-filter.visitfilter form label .btn-group.bootstrap-select button:focus {
        margin: 0 !important;
        outline: none !important; }
      .big-filter.visitfilter form label .btn-group.bootstrap-select .dropdown-menu .bs-searchbox input {
        margin-bottom: 10px;
        border: solid 1px #ccc; }
      .big-filter.visitfilter form label .btn-group.bootstrap-select .dropdown-menu ul.dropdown-menu {
        max-height: 300px !important; }
        .big-filter.visitfilter form label .btn-group.bootstrap-select .dropdown-menu ul.dropdown-menu li a {
          float: left;
          width: 100%; }
          .big-filter.visitfilter form label .btn-group.bootstrap-select .dropdown-menu ul.dropdown-menu li a span {
            font-size: 12px; }
  .big-filter.visitfilter form input[type="submit"] {
    float: left;
    width: 100px;
    background-color: #46d466;
    color: #fff;
    padding: 7px 10px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 4px #3caf50 !important;
    margin-top: 26px; }
  .big-filter.visitfilter form input[type="submit"]:active, .big-filter.visitfilter form input[type="submit"]:focus {
    border: none !important;
    margin-top: 30px !important;
    outline: none;
    box-shadow: none; }

@media (max-width: 768px) {
  .menu-label {
    display: none; }

  .renault-logo {
    display: none !important; }

  .header-title {
    left: 80px;
    right: 80px;
    font-size: 20px;
    margin: 28px 0 0 0; }

  .renault-logo-small {
    display: block !important; } }
@media (min-width: 415px) {
  .sidenav-menu {
    width: 320px;
    left: -320px; } }
@media (max-width: 414px) {
  .sidenav-menu {
    width: 100%;
    left: -100%; }

  .header-title {
    font-size: 16px; } }
/* LOGIN */
.login-container {
  margin-top: -15px;
  padding-top: 15px;
  height: calc(100vh - 120px);
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.login-box-wrapper {
  width: 350px; }
  .login-box-wrapper .login-box {
    float: left;
    width: 100%;
    background-color: #f2f2f2;
    padding: 60px 50px;
    margin-top: 25px;
    border-radius: 3px; }
    .login-box-wrapper .login-box h1 {
      margin: 0 0 45px 0;
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .login-box-wrapper .login-box span {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: -40px;
      margin-top: -1px;
      font-size: 20px;
      padding: 10px; }
    .login-box-wrapper .login-box .form-group {
      float: left;
      width: 100%; }
    .login-box-wrapper .login-box input[type="text"] {
      float: left;
      height: 40px;
      width: 100%;
      margin-bottom: 0;
      padding-left: 40px;
      border-radius: 0;
      border-left: none;
      border-top: none;
      border-right: none;
      background: none;
      box-shadow: none; }
    .login-box-wrapper .login-box input[type="password"] {
      float: left;
      height: 40px;
      width: 100%;
      margin-bottom: 45px;
      padding-left: 40px;
      border-radius: 0;
      border-left: none;
      border-top: none;
      border-right: none;
      background: none;
      box-shadow: none;
      font-size: 14px;
      letter-spacing: 1px; }
    .login-box-wrapper .login-box input[type="submit"] {
      border: none;
      padding: 10px 25px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      font-size: 14px;
      float: left;
      background: #ffdd33;
      color: #000;
      width: 100%;
      font-weight: bold;
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      letter-spacing: 1px; }
    .login-box-wrapper .login-box input[type="submit"]:hover {
      background-color: #f4d433; }
    .login-box-wrapper .login-box input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset; }

@media (max-width: 414px) {
  .login-box-wrapper {
    width: 91% !important; }
    .login-box-wrapper .login-box {
      padding: 30px 20px;
      margin-top: 15px; } }
/* VISIT */
.report-option-bar {
  background-color: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 15px; }
  .report-option-bar button, .report-option-bar a {
    float: left;
    margin-right: 15px !important; }

.report .report-table-wrapper {
  float: left;
  width: 100%;
  overflow-x: auto;
  position: relative; }
  .report .report-table-wrapper .report-table-loader {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: 999; }
    .report .report-table-wrapper .report-table-loader .spinner {
      border-left: 2px solid #a0a0a0 !important;
      border-right: 2px solid #a0a0a0 !important; }
  .report .report-table-wrapper table.report-table {
    float: left;
    width: 100%;
    min-width: 1366px; }
    .report .report-table-wrapper table.report-table thead tr th.data-col {
      padding: 0 5px;
      width: calc(50% / 6);
      cursor: pointer; }
      .report .report-table-wrapper table.report-table thead tr th.data-col div {
        float: left;
        width: 100%;
        padding: 12px 35px 12px 12px;
        background-color: #ccc;
        color: #808080;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        height: 52px;
        line-height: 15px;
        position: relative; }
        .report .report-table-wrapper table.report-table thead tr th.data-col div span.sort-icon {
          position: absolute;
          right: 10px;
          font-size: 12px; }
        .report .report-table-wrapper table.report-table thead tr th.data-col div .sort-asc {
          top: 16px; }
        .report .report-table-wrapper table.report-table thead tr th.data-col div .sort-desc {
          top: 25px; }
    .report .report-table-wrapper table.report-table thead tr th.data-col:nth-child(1) {
      padding-left: 0 !important; }
    .report .report-table-wrapper table.report-table thead tr th.data-col:nth-child(7) {
      padding-right: 0 !important; }
    .report .report-table-wrapper table.report-table thead tr th.data-col:active div {
      background-color: #999999;
      color: #e6e6e6; }
    .report .report-table-wrapper table.report-table thead tr th.progress-col {
      text-align: center;
      font-size: 12px;
      color: #808080;
      width: calc(50% / 8);
      vertical-align: center; }
      .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header {
        float: left;
        width: calc(100% / 8);
        text-align: center;
        padding: 7px 0;
        text-transform: uppercase; }
        .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button {
          width: 100%;
          background-color: #46d466;
          color: #fff;
          padding: 7px 5px 5px;
          border: none;
          border-radius: 5px;
          text-transform: uppercase;
          border-bottom: solid 4px #3caf50; }
          .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button span.loading {
            float: left;
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button span.spinner-wrapper {
            float: right;
            width: 25%; }
            .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button span.spinner-wrapper span.btn-spinner {
              float: right;
              -webkit-animation: rotating .5s linear infinite;
              -moz-animation: rotating .5s linear infinite;
              -ms-animation: rotating .5s linear infinite;
              -o-animation: rotating .5s linear infinite;
              animation: rotating .5s linear infinite; }
        .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button:disabled {
          background-color: #e6e6e6;
          color: #999;
          border-bottom: none;
          margin-top: 4px; }
        .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button:active {
          border-bottom: none;
          outline: none;
          margin-top: 4px; }
        .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button:focus, .report .report-table-wrapper table.report-table thead tr th.progress-col div.progress-col-header button:visited {
          outline: none; }
    .report .report-table-wrapper table.report-table tbody tr td.data-col {
      color: #4c4c4c;
      font-size: 12px;
      padding: 15px 0 15px 15px;
      border-top: solid 10px #fafafa;
      border-bottom: solid 1px #e1e1e1;
      background-color: #fff; }
    .report .report-table-wrapper table.report-table tbody tr td.progress-col {
      padding: 15px 0;
      width: 100%; }
      .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step {
        float: left;
        height: 40px;
        position: relative; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step {
          position: absolute;
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          background-color: #e6e6e6;
          border-radius: 100%;
          left: 0;
          right: 0;
          text-align: center; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step a {
            text-decoration: none; }
            .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step a .ammount-label {
              position: absolute;
              top: -7px;
              right: -7px;
              width: 15px;
              height: 15px;
              border-radius: 100%;
              font-size: 10px;
              padding-top: 1px;
              color: white;
              background-color: #4091d7;
              text-align: center; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step a:hover, .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step a:active, .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step a:focus, .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step a:visited {
            color: white;
            text-decoration: none; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step .step-done {
            display: block;
            margin: 5px auto 0 auto;
            height: 29px;
            width: 27px;
            background-color: #46d464;
            padding-top: 8px;
            color: white;
            border-bottom: solid 3px #019d30;
            border-radius: 100%;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 12; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step .step-in_progress {
            display: block;
            margin: 10px auto 0 auto;
            height: 20px;
            width: 20px;
            background-color: #46d464;
            border-radius: 100%;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 12;
            margin-top: 10px; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step .step-add {
            display: block;
            margin: 5px auto 0 auto;
            height: 29px;
            width: 29px;
            background-color: #fff;
            padding-top: 6px;
            padding-left: 1px;
            color: #46d464 !important;
            border: solid 1px #46d464;
            border-radius: 100%;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 12; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .step .step-add:hover {
            background-color: #46d464;
            color: #fff !important; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .path {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 50%;
          height: 15px;
          background-color: #e6e6e6;
          z-index: 9; }
          .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .path span {
            float: left;
            width: 100%;
            height: 5px;
            background-color: #46d464;
            margin-top: 3px;
            float: left;
            width: 100%;
            height: 6px;
            background-color: #46d464;
            margin-top: 5px;
            position: absolute;
            z-index: 11; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .path.right {
          right: 0; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .path.left {
          left: 0; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step input[type="checkbox"] {
          display: none; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .progress-check {
          margin: 6px auto 0 auto;
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 5px;
          background-color: #e6e6e6;
          cursor: pointer;
          border: solid 4px #e6e6e6; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .progress-check:active {
          background-color: #cecece; }
        .report .report-table-wrapper table.report-table tbody tr td.progress-col .progress-step .progress-check.checked {
          background-color: #a2a2a2; }
    .report .report-table-wrapper table.report-table tbody .clickable-row .data-col {
      cursor: pointer; }
    .report .report-table-wrapper table.report-table tbody .clickable-row:hover .data-col {
      background-color: #f7f7f7; }
    .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info {
      padding: 0; }
      .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper {
        display: none;
        float: left;
        width: 100%;
        background-color: #ccc;
        padding: 15px;
        position: relative; }
        .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper * {
          color: #808080; }
        .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info {
          float: left;
          width: calc(100% / 3); }
          .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info span {
            float: left;
            width: 100%; }
            .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info span label {
              float: left;
              margin: 0 0 0 0;
              width: 140px;
              font-size: 14px; }
            .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info span label.small {
              width: 80px; }
            .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info span label.full-width {
              width: 100%;
              margin: 0 0 5px 0; }
            .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info span p {
              overflow: hidden;
              margin: 0 0 0 0; }
            .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .visit-info span p.full-width {
              float: left;
              width: 100%; }
        .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper a.visit-option-btn {
          position: absolute;
          top: 15px; }
        .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .delete-visit {
          right: 15px; }
        .report .report-table-wrapper table.report-table tbody tr.expandable td.report-info .visit-info-wrapper .edit-visit {
          right: 35px; }

.publish-alert {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 300px;
  z-index: 9999999; }

/* END REPORT */
@media (max-width: 1599px) {
  table.report-table .progress-col-header {
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    font-size: 10px; }
  table.report-table .progress-col-header:last-child {
    -ms-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    font-size: 12px !important; } }
/* CLIENT */
.clients-wrapper .client .panel {
  float: left;
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none; }
  .clients-wrapper .client .panel .panel-heading {
    float: left;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px; }
  .clients-wrapper .client .panel .panel-body {
    float: left;
    width: 100%;
    padding: 0;
    cursor: pointer; }
    .clients-wrapper .client .panel .panel-body .client-title {
      float: left;
      width: calc(100% - 50px);
      background-color: white;
      height: 130px;
      position: relative; }
      .clients-wrapper .client .panel .panel-body .client-title p {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        left: 0;
        font-size: 24px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        color: #848484; }
      .clients-wrapper .client .panel .panel-body .client-title .client-btn {
        position: absolute;
        right: 15px;
        font-size: 24px;
        top: 50%;
        transform: translateY(-50%);
        color: #848484; }
    .clients-wrapper .client .panel .panel-body .client-options {
      float: left;
      width: 50px; }
  .clients-wrapper .client .panel .panel-body:hover p {
    color: black; }
  .clients-wrapper .client .panel .panel-body:hover .client-btn {
    color: black; }

/* PROJECT */
.projects-wrapper .add-project .panel-body {
  height: 116px;
  padding: 25px 25px 25px 100px !important; }
  .projects-wrapper .add-project .panel-body .add-project-icon {
    position: absolute;
    left: 25px;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #999; }
  .projects-wrapper .add-project .panel-body p {
    position: absolute;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    right: 25px;
    color: #999;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center; }
.projects-wrapper .add-project .panel-body:hover .add-project-icon, .projects-wrapper .add-project .panel-body:hover p {
  color: black !important; }
.projects-wrapper .project .panel {
  float: left;
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none; }
  .projects-wrapper .project .panel p, .projects-wrapper .project .panel .project-btn, .projects-wrapper .project .panel .add-project-icon, .projects-wrapper .project .panel .panel-body {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  .projects-wrapper .project .panel .panel-body {
    float: left;
    width: calc(100% - 38px);
    padding: 25px 50px 25px 25px;
    cursor: pointer;
    background-color: white;
    position: relative; }
    .projects-wrapper .project .panel .panel-body p.project-title {
      float: left;
      width: 100%;
      margin: 0 0 10px 0;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .projects-wrapper .project .panel .panel-body p.project-wave_year {
      float: left;
      width: 100%;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      color: #999;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .projects-wrapper .project .panel .panel-body p.project-wave_year span {
        margin: 0 10px; }
    .projects-wrapper .project .panel .panel-body .project-btn {
      position: absolute;
      right: 15px;
      font-size: 28px;
      top: 50%;
      transform: translateY(-50%);
      color: #999; }
    .projects-wrapper .project .panel .panel-body .description {
      position: absolute;
      z-index: 102;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff; }
      .projects-wrapper .project .panel .panel-body .description .description-text {
        position: absolute;
        width: 100%;
        padding: 0;
        z-index: 102;
        overflow: hidden;
        top: 100%;
        padding: 15px;
        left: 0;
        right: 0;
        background-color: #efefef;
        display: none;
        box-shadow: 5px 5px 17px -12px black;
        /* border: solid 1px #f1f1f1; */
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 16px;
        color: black; }
      .projects-wrapper .project .panel .panel-body .description .toggle-description {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50px;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 3px 10px 5px 10px;
        z-index: 101;
        opacity: 0;
        cursor: pointer; }
        .projects-wrapper .project .panel .panel-body .description .toggle-description span {
          float: left;
          width: 100%;
          height: 1px;
          background-color: #c5c5c5;
          margin-top: 3px; }
      .projects-wrapper .project .panel .panel-body .description .toggle-description:hover {
        background-color: #f1f1f1; }
  .projects-wrapper .project .panel .panel-body:hover {
    box-shadow: 0px 0px 15px -7px black;
    z-index: 100; }
    .projects-wrapper .project .panel .panel-body:hover .toggle-description {
      opacity: 1; }
    .projects-wrapper .project .panel .panel-body:hover .project-btn, .projects-wrapper .project .panel .panel-body:hover p.project-wave_year, .projects-wrapper .project .panel .panel-body:hover p.project-title {
      color: black; }
  .projects-wrapper .project .panel .project-options {
    float: left;
    width: 38px;
    position: relative;
    background-color: #f1f1f1;
    z-index: 99; }
    .projects-wrapper .project .panel .project-options a {
      position: absolute;
      left: 10px;
      font-size: 16px;
      color: #848484; }
    .projects-wrapper .project .panel .project-options .edit-project-btn {
      top: 15px; }
    .projects-wrapper .project .panel .project-options .delete-project-btn {
      top: 45px; }
    .projects-wrapper .project .panel .project-options .question-list-btn {
      top: 75px; }
    .projects-wrapper .project .panel .project-options a:hover {
      color: black; }
    .projects-wrapper .project .panel .project-options a:hover, .projects-wrapper .project .panel .project-options a:active, .projects-wrapper .project .panel .project-options a:focus {
      text-decoration: none; }

/* REPORT EDITOR */
.editor-options {
  padding: 25px 0;
  background-color: #e6e6e6;
  margin-top: -15px; }
  .editor-options .editor-report-info div {
    float: left;
    width: 100%; }
    .editor-options .editor-report-info div label {
      float: left;
      color: #adadad;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 225px; }
    .editor-options .editor-report-info div p {
      overflow: hidden;
      color: #adadad;
      font-size: 18px;
      font-weight: bold; }
  .editor-options .editor-actions {
    float: left;
    width: 100%;
    margin-top: 25px; }
  .editor-options .status-control .status-radio-btns {
    float: left;
    width: 150px;
    margin-bottom: 7px; }
    .editor-options .status-control .status-radio-btns label:first-child {
      display: none !important; }
    .editor-options .status-control .status-radio-btns label {
      float: left;
      width: 100%;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #949494; }
  .editor-options .status-control .checkbox {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
    .editor-options .status-control .checkbox label {
      float: left;
      clear: both;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #949494;
      margin-left: 20px; }

.answer-editor {
  margin-bottom: 15px;
  position: relative; }
  .answer-editor .question {
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer; }
    .answer-editor .question h5 {
      float: left;
      width: 100%;
      margin: 0;
      background-color: #888888;
      color: white;
      padding: 10px 15px;
      font-size: 16px; }
  .answer-editor .question:hover h5 {
    background-color: #777777; }
  .answer-editor .answer-edit-section {
    float: left;
    width: 100%; }
    .answer-editor .answer-edit-section .answer-image-col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
      .answer-editor .answer-edit-section .answer-image-col .answer-image-wrapper {
        float: left;
        width: 100%; }
        .answer-editor .answer-edit-section .answer-image-col .answer-image-wrapper .answer-image {
          float: left;
          width: 100%;
          max-height: 210px;
          overflow-y: hidden;
          position: relative;
          padding-left: 1px;
          margin-bottom: 1px;
          cursor: pointer; }
          .answer-editor .answer-edit-section .answer-image-col .answer-image-wrapper .answer-image img {
            float: left;
            width: 100%; }
          .answer-editor .answer-edit-section .answer-image-col .answer-image-wrapper .answer-image .zoom-in-answer-image {
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;
            top: 0;
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.6);
            margin: 0;
            padding: 15px;
            -webkit-transition-property: opacity;
            -webkit-transition-duration: 0.2s; }
            .answer-editor .answer-edit-section .answer-image-col .answer-image-wrapper .answer-image .zoom-in-answer-image span {
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              text-align: center;
              font-size: 26px; }
        .answer-editor .answer-edit-section .answer-image-col .answer-image-wrapper .answer-image:hover .zoom-in-answer-image {
          opacity: 1 !important; }
  .answer-editor .answer .input-label {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #888888; }
  .answer-editor .answer .save-answer .btn-spinner {
    float: right;
    margin-left: 15px;
    -webkit-animation: rotating .5s linear infinite;
    -moz-animation: rotating .5s linear infinite;
    -ms-animation: rotating .5s linear infinite;
    -o-animation: rotating .5s linear infinite;
    animation: rotating .5s linear infinite; }
  .answer-editor .message {
    float: left;
    width: 100%; }
    .answer-editor .message .alert {
      margin: 15px 0 0 0 !important; }
  .answer-editor .answer-edit-message {
    display: none !important; }

.answer-editor:last-child {
  margin-bottom: 0 !important; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.answer-image-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  text-align: center;
  overflow-y: auto; }
  .answer-image-overlay .zoomed-image {
    display: inline-block;
    padding: 15px;
    background-color: #f8f8f8;
    margin: 25px auto 0 auto;
    position: relative;
    border-radius: 3px;
    max-width: 730px;
    z-index: 99999999;
    opacity: 0; }
    .answer-image-overlay .zoomed-image .close-overlay {
      position: absolute;
      color: #888;
      cursor: pointer;
      font-size: 20px;
      z-index: 999999999;
      top: 20px;
      right: 20px; }
    .answer-image-overlay .zoomed-image .close-overlay:hover {
      color: #666; }
    .answer-image-overlay .zoomed-image .image-well {
      float: left;
      margin: 0;
      padding: 0; }
      .answer-image-overlay .zoomed-image .image-well img {
        max-width: 700px; }
  .answer-image-overlay .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 20px;
    z-index: 9999999; }

/* FEEDBACK */
.feedback .add-feedback h3, .feedback .feedback-items h3 {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #808080;
  font-size: 24px; }
.feedback .add-feedback .feedback-form-wrapper {
  float: left;
  width: 100%; }
  .feedback .add-feedback .feedback-form-wrapper input[name='title'] {
    float: left;
    width: 100%;
    margin-bottom: 15px; }
  .feedback .add-feedback .feedback-form-wrapper textarea[name='comment'] {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    height: 120px;
    resize: vertical; }
.feedback .feedback-items .feedback-items-wrapper {
  float: left;
  width: 100%; }
  .feedback .feedback-items .feedback-items-wrapper .feedback-item {
    float: left;
    width: 100%;
    padding: 15px;
    background-color: #e2e2e2;
    border-radius: 3px;
    margin: 0 0 15px 0; }
    .feedback .feedback-items .feedback-items-wrapper .feedback-item * {
      color: #fafafa; }
    .feedback .feedback-items .feedback-items-wrapper .feedback-item .details {
      float: left;
      width: 100%;
      position: relative;
      padding-right: 50px; }
      .feedback .feedback-items .feedback-items-wrapper .feedback-item .details p {
        color: #888;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0; }
        .feedback .feedback-items .feedback-items-wrapper .feedback-item .details p span {
          color: #888;
          font-weight: bold; }
      .feedback .feedback-items .feedback-items-wrapper .feedback-item .details .showhide-feedback {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        color: #888;
        font-size: 20px; }
      .feedback .feedback-items .feedback-items-wrapper .feedback-item .details .showhide-feedback:hover {
        color: #666; }
    .feedback .feedback-items .feedback-items-wrapper .feedback-item .feedback-content {
      float: left;
      width: 100%;
      margin-top: 15px;
      display: none; }
      .feedback .feedback-items .feedback-items-wrapper .feedback-item .feedback-content .fdbck-title {
        float: left;
        width: 100%;
        margin: 0 0 10px 0;
        font-weight: bold;
        color: #888; }
      .feedback .feedback-items .feedback-items-wrapper .feedback-item .feedback-content .fdbck-description {
        float: left;
        width: 100%;
        margin: 0;
        color: #888; }

/* UPLOADS */
.uploads h3 {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #808080;
  font-size: 24px; }
.uploads .snapshot-col {
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .uploads .snapshot-col .snapshot-wrapper {
    float: left;
    width: 100%; }
    .uploads .snapshot-col .snapshot-wrapper .image {
      float: left;
      width: 100%;
      max-height: 200px;
      overflow-y: hidden;
      position: relative;
      padding-left: 1px;
      margin-bottom: 1px; }
      .uploads .snapshot-col .snapshot-wrapper .image img {
        float: left;
        width: 100%; }
      .uploads .snapshot-col .snapshot-wrapper .image .comment {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        top: -100%;
        background-color: rgba(255, 255, 255, 0.6);
        margin: 0;
        padding: 15px;
        -webkit-transition-property: top;
        -webkit-transition-duration: 0.3s; }
        .uploads .snapshot-col .snapshot-wrapper .image .comment p {
          float: left;
          width: calc(100% - 50px);
          padding-right: 10px;
          word-break: break-all; }
        .uploads .snapshot-col .snapshot-wrapper .image .comment .zoom-in-image {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 50px;
          cursor: pointer;
          transition: background-color 0.1s ease; }
          .uploads .snapshot-col .snapshot-wrapper .image .comment .zoom-in-image span {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-size: 20px; }
        .uploads .snapshot-col .snapshot-wrapper .image .comment .zoom-in-image:hover {
          background-color: rgba(255, 255, 255, 0.7); }
    .uploads .snapshot-col .snapshot-wrapper .image:hover .zoom-icon {
      display: block; }
    .uploads .snapshot-col .snapshot-wrapper .image:hover p.created-by, .uploads .snapshot-col .snapshot-wrapper .image:hover p.created-at {
      display: block; }
    .uploads .snapshot-col .snapshot-wrapper .image:hover .comment {
      top: 0 !important; }
    .uploads .snapshot-col .snapshot-wrapper .comment {
      float: left;
      width: 100%;
      margin-top: 5px; }
      .uploads .snapshot-col .snapshot-wrapper .comment p.img-info:last-child {
        margin-bottom: 5px !important; }
      .uploads .snapshot-col .snapshot-wrapper .comment p.description {
        float: left;
        width: 100%;
        margin: 0; }

.uploads-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  text-align: center;
  overflow-y: auto; }
  .uploads-overlay .zoomed-image {
    display: inline-block;
    padding: 15px;
    background-color: #f8f8f8;
    margin: 25px auto 0 auto;
    position: relative;
    border-radius: 3px;
    max-width: 730px;
    z-index: 99999999;
    opacity: 0; }
    .uploads-overlay .zoomed-image .close-overlay {
      position: absolute;
      color: #888;
      cursor: pointer;
      font-size: 20px;
      z-index: 999999999;
      top: 20px;
      right: 20px; }
    .uploads-overlay .zoomed-image .close-overlay:hover {
      color: #666; }
    .uploads-overlay .zoomed-image .image-well {
      float: left;
      margin: 0;
      padding: 0; }
      .uploads-overlay .zoomed-image .image-well img {
        max-width: 700px; }
  .uploads-overlay .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 20px;
    z-index: 9999999; }

.spinner {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid transparent;
  /* dark grey */
  border-bottom: 2px solid transparent;
  /* dark grey */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin .5s linear infinite;
  margin: 25px auto 0 auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
