<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 10-4-17
 * Time: 10:02
 */

/**
 * @var \Zend\View\Renderer\PhpRenderer $this
 */

//var_dump($this->layout());

?>

<h1>403</h1>
<h2>Details</h2>
<?php
echo $this->error;
?>