<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 24-7-17
 * Time: 11:02
 */
$title = 'Save visit';
$this->headTitle($title);
?>
    <h1><?= $this->escapeHtml($title) ?></h1>
<?php

$visitCo = $this->form->get('visit');

$project = $visitCo->get('project');
//$project->setAttribute('class', 'form-control');
$project->setValue($this->project_id);

$location = $visitCo->get('location');
$location->setAttribute('class', 'form-control');

$advisor = $visitCo->get('advisor');
$advisor->setAttribute('class', 'form-control');

$date = $visitCo->get('date');
$date->setAttribute('class', 'form-control');

$remark = $visitCo->get('remark');
$remark->setAttribute('class', 'form-control');

$submit = $this->form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

//$form->setAttribute('action', $this->url('visit/save', ['action' => 'index', 'project' => $this->project_id, 'visit' => $this->visit_id], ['query' => $this->params]));
$form->prepare();

echo $this->form()->openTag($form);
?>
    <div class="form-group">
        <?= $this->formLabel($location) ?>
        <?= $this->formElement($location) ?>
        <?= $this->formElementErrors()->render($location, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($advisor) ?>
        <?= $this->formElement($advisor) ?>
        <?= $this->formElementErrors()->render($advisor, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($date) ?>
        <?= $this->formElement($date) ?>
        <?= $this->formElementErrors()->render($date, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($remark) ?>
        <?= $this->formElement($remark) ?>
        <?= $this->formElementErrors()->render($remark, ['class' => 'help-block']) ?>
    </div>

<?php
echo $this->formHidden($project);
echo $this->formSubmit($submit);
echo $this->form()->closeTag();
?>
<script>

  $(function () {
      "use strict";

      $('form').bind('submit', function() {
          $(this).find(':disabled').removeAttr('disabled');
      });
  });

</script>