<div class="row">


</div>

<div class="row report">

    <div class="col-xs-12">

        <div class="report-table-wrapper">
            <table class="report-table">
                <thead>
                <tr>
                    <th class="data-col"><span>Location id</span></th>
                    <th class="data-col"><span>Location name</span></th>
                    <th class="data-col"><span>Advisor</span></th>
                    <th class="data-col"><span>Date visit</span></th>

                    <th class="progress-col">Report<br/>V1</th>
                    <th class="progress-col">Report<br/>V2</th>
                    <th class="progress-col">Feedback<br/>&amp;Beyond</th>
                    <th class="progress-col">Report<br/>Def</th>
                    <th class="progress-col">Uploads</th>
                    <th class="progress-col">Check<br/>&amp;Beyond</th>
                    <th class="progress-col">Check<br/>Renault</th>
                    <th class="progress-col"><button type="submit">Publish</button></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="data-col">1000</td>
                    <td class="data-col">Locatie</td>
                    <td class="data-col">Simon Rook</td>
                    <td class="data-col">07-04-2017, 12:30</td>

                    <td class="progress-col" colspan="8">

                        <div class="progress-step">
								<span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-add glyphicon glyphicon-plus"></a>
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                        </div>

                        <div class="progress-step">
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="data-col">999</td>
                    <td class="data-col">Locatie</td>
                    <td class="data-col">Simon Rook</td>
                    <td class="data-col">06-04-2017, 11:00</td>

                    <td class="progress-col" colspan="8">

                        <div class="progress-step">
								<span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-in_progress"></a>
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                        </div>

                        <div class="progress-step">
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="data-col">998</td>
                    <td class="data-col">Locatie</td>
                    <td class="data-col">Simon Rook</td>
                    <td class="data-col">05-04-2017, 11:00</td>

                    <td class="progress-col" colspan="8">

                        <div class="progress-step">
								<span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                        </div>

                        <div class="progress-step">
                            <input type="checkbox" id="row1" style="display:none;"/>
                            <label class="progress-check"></label>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="data-col">997</td>
                    <td class="data-col">Locatie</td>
                    <td class="data-col">Simon Rook</td>
                    <td class="data-col">04-04-2017, 11:00</td>
                    <td class="progress-col" colspan="8">

                        <div class="progress-step">
								<span class="step">
									<a href="#" class="step-done glyphicon glyphicon-ok"></a>
								</span>
                            <span class="path right"><span></span></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"><span></span></span>
                            <span class="step">
									<a href="#" class="step-in_progress"></a>
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                        </div>

                        <div class="progress-step">
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="data-col">996</td>
                    <td class="data-col">Locatie</td>
                    <td class="data-col">Simon Rook</td>
                    <td class="data-col">04-04-2017, 11:00</td>

                    <td class="progress-col" colspan="8">

                        <div class="progress-step">
								<span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                        </div>

                        <div class="progress-step">
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="data-col">995</td>
                    <td class="data-col">Locatie</td>
                    <td class="data-col">Simon Rook</td>
                    <td class="data-col">03-04-2017, 11:00</td>

                    <td class="progress-col" colspan="8">

                        <div class="progress-step">
								<span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                            <span class="path right"></span>
                        </div>
                        <div class="progress-step">
                            <span class="path left"></span>
                            <span class="step">
								</span>
                        </div>

                        <div class="progress-step">
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
