<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 7-11-17
 * Time: 14:01
 */

$title = 'Delete Competitor';
$url   = $this->url('competitor/delete', ['action' => 'index', 'competitor' => $this->competitor_id]);
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Are you sure that you want to delete
    "<?= $this->escapeHtml($this->competitor->getName()) ?>" by
    "<?= $this->escapeHtml($this->competitor->getId()) ?>"?
</p>

<form action="<?= $url ?>" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="<?= (int) $this->competitor->getId() ?>" />
        <input type="submit" class="btn btn-danger" name="del" value="Yes" />
        <input type="submit" class="btn btn-success" name="del" value="No" />
    </div>
</form>