<?php if ($this->pageCount): ?>
    <div class="pager">
        <ul>
            <!-- First page link -->
            <?php if (isset($this->previous)): ?>
                <li><a href="<?= $this->url($this->route, $route_params, ['query' => ['page' => $this->first]]); ?>">First</a></li>
            <?php else: ?>
                <li class="disabled"><a href="">First</a></li>
            <?php endif; ?>

            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <li> <a href="<?= $this->url($this->route, $route_params, ['query' => ['page' => $this->previous]]) ?>">&lt; Previous</a></li>
            <?php else: ?>
                <li class="disabled"><a href="">&lt; Previous</a></li>
            <?php endif; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
                <li><a href="<?= $this->url($this->route, $route_params, ['query' => ['page' => $this->next]]) ?>">Next &gt;</a><li>
            <?php else: ?>
                <li class="disabled"><a href="">Next &gt;</a></li>
            <?php endif; ?>

            <!-- Last page link -->
            <?php if (isset($this->next)): ?>
                <li><a href="<?= $this->url($this->route, $route_params, ['query' => ['page' => $this->last]]); ?>">Last</a></li>
            <?php else: ?>
                <li class="disabled"><a href="">Last</a></li>
            <?php endif; ?>
        </ul>
        <p><?= $this->firstItemNumber; ?> - <?= $this->lastItemNumber; ?> of <?= $this->totalItemCount; ?></p>
    </div>
<?php endif; ?>