<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 3-11-17
 * Time: 14:19
 */

/** @var Survey\Entity\Question $question */

$title = 'Questions';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('question/save', ['action' => 'index', 'project' => $this->project_id]) ?>">Add new question</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Main Category</th>
        <th>Category</th>
        <th>Type</th>
        <th>Question</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->questions as $question) : ?>
        <tr>
            <td><?= $this->escapeHtml($question->getId()) ?></td>
            <td><?= $this->escapeHtml($question->getQnumber()) ?></td>
            <td><?= ($question->getCategory()->hasParent()) ? $this->escapeHtml($question->getCategory()->getParent()->getName()) : '' ?></td>
            <td><?= $this->escapeHtml($question->getCategory()->getName()) ?></td>
            <td><?= $this->escapeHtml($question->getType()->getType()) ?></td>
            <td><?= $this->escapeHtml($question->getQuestion()) ?></td>
            <td>
                <a href="<?= $this->url('question/save', ['action' => 'index', 'project' => $this->project_id, 'question' => $question->getId()]) ?>">Edit</a>
                <a href="<?= $this->url('question/delete', ['action' => 'delete', 'project' => $this->project_id, 'question' => $question->getId()]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
