<style>

  .option{
    float:left;
    width:100%;
  }
</style>

<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 7-11-17
 * Time: 15:09
 */

$title = 'Save Category';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php

$this->form->setAttributes(['id' => 'categoryForm']);
$categoryCo = $this->form->get('category');

$type = $categoryCo->get('type');

$parent = $categoryCo->get('parent');
$parent->setAttribute('class', 'form-control');

$name = $categoryCo->get('name');
$name->setAttribute('class', 'form-control');

$submit = $this->form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$this->form->setAttribute('action', $this->url('category/save', ['action' => 'index']));
$this->form->prepare();

if(! empty($this->message)){

  ?>
  <div class="alert alert-danger" role="alert"><?= $this->message ?></div>
    <?php
}

echo $this->form()->openTag($this->form);
?>

<div class="form-group">
    <?= $this->formLabel($name) ?>
    <?= $this->formElement($name) ?>
    <?= $this->formElementErrors()->render($name, ['class' => 'help-block']) ?>
</div>

<?= $this->formLabel($type) ?>
<?= $this->formRadio($type) ?>
<?= $this->formElementErrors()->render($type, ['class' => 'help-block']) ?>

<div class="form-group">
    <?= $this->formLabel($parent) ?>
    <?= $this->formElement($parent) ?>
    <?= $this->formElementErrors()->render($parent, ['class' => 'help-block']) ?>
</div>

<?php
echo $this->formHidden($categoryCo->get('id'));
echo $this->formSubmit($submit);
echo $this->form()->closeTag();

if($this->status != null){
    echo $this->status;
}
?>

<script>

    $(function () {
        //$('.option').hide();
        var optionIndex = $('form > .options > div.option').length;
        var question_id = <?= ($this->question_id != null) ? $this->question_id : 0 ?>;
        var createOption = function () {
            console.log('createOption');

            var template = $('form > .options > span').data('template');
            template = template.replace(/__index__/g, optionIndex);

            $('form > .options').append(template);

            optionIndex++;
            return false;
        };

        $('.question_type').on('change', function (e) {
            console.log('change');
            console.log($(e.target).val());

            if ($(e.target).val() != 2){
                $('.options > .option').not('#optionTemplate').remove();
                optionIndex = 0;
            }

            if ($(e.target).val() == 2 && optionIndex == 0){
                createOption();
            }

            if ($(e.target).val() == 2){
                $('div.option:gt(0)').find('label.control-label:first-child').remove();
                $('div.option:gt(0)').find('div.offset:first-child').addClass('col-xs-offset-1');
                $('div.option:gt(0)').find('.addButton').removeClass('addButton').addClass('removeButton');
                $('div.option:gt(0)').find('.glyphicon-plus').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });

        $('.question_type').change();

        $('#questionForm')// Add button click handler
            .on('click', '.addButton', function() {

                createOption();

                $('div.option:gt(0)').find('label.control-label:first-child').remove();
                $('div.option:gt(0)').find('div.offset:first-child').addClass('col-xs-offset-1');
                $('div.option:gt(0)').find('.addButton').removeClass('addButton').addClass('removeButton');
                $('div.option:gt(0)').find('.glyphicon-plus').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                //$('[data-option-index="'+optionIndex+'"] > label').remove();
            })

            // Remove button click handler
            .on('click', '.removeButton', function() {
                var $row  = $(this).parents('.form-group'),
                    index = $row.attr('data-book-index');
                $row.remove();
            });
    });

</script>