<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 7-7-17
 * Time: 13:54
 */

$title = 'klantoverzicht';
$this->headTitle($title);
?>

<div class="row clients-wrapper">
    <?php
    foreach ($clients as $key => $client) {
    ?>
    <div class="col-md-4 client">
       

        <div class="panel panel-default">
            <?php /*<div class="panel-heading"><?= $client->getName() ?></div>*/ ?>
           
            <div class="panel-body">

                <div class="client-title">
                    <p><?= $client->getName() ?></p>
                    <a class="client-btn" href="<?= $this->url('project/index', ['action' => 'index', 'client' => $client->getId()], ['query' => null]) ?>"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
             

                <div class="client-options">
                    
                </div>
            </div>

        </div>
        
    </div>
    <?php
    }
    ?>

    
</div>