<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 3-11-17
 * Time: 14:19
 */

/** @var Survey\Entity\Category $category */

$title = 'Categories';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('category/save', ['action' => 'index']) ?>">Add new category</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Main Category</th>
        <th>Name</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->categories as $category) : ?>
        <tr>
            <td><?= $this->escapeHtml($category->getId()) ?></td>
            <td><?= $this->escapeHtml($category->getTypeName()) ?></td>
            <td><?= ($category->hasParent()) ? $this->escapeHtml($category->getParent()->getName()) : '-' ?></td>
            <td><?= $this->escapeHtml($category->getName()) ?></td>
            <td>
                <a href="<?= $this->url('category/save', ['action' => 'index', 'category' => $category->getId()]) ?>">Edit</a>
                <a href="<?= $this->url('category/delete', ['action' => 'delete', 'project' => $this->project_id, 'category' => $category->getId()]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
