<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 3-8-17
 * Time: 13:26
 */

/**
 * @var \Survey\Entity\Report $report
 */

if($report != null && $report->getVersion() == 'v1'){ ?>

<div class="progress-step">
    <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
    <span class="path right"><span></span></span>
</div>

<?php
    if($this->identity()->getRole() == 'admin') {
?>
<div class="progress-step">
    <span class="path left"><span></span></span>
    <span class="step"><a href="<?= $this->url('report/index', ['action' => 'index', 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-edit"></a></span>
    <span class="path right"></span>
</div>
<?php
    } else {
?>
<div class="progress-step">
    <span class="path left"><span></span></span>
    <span class="step"><a href="#" class="step-in_progress"></a></span>
    <span class="path right"></span>
</div>
<?php
    }
?>

    <?php
    if($this->identity()->getRole() == 'admin'){
        ?>
        <div class="progress-step">
            <span class="path left"></span>
            <span class="step">
                <a href="<?= $this->url('comment/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getComments()->isEmpty()){ ?>
                    <span class="ammount-label"><?= $report->getComments()->count() ?></span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"></span>
        </div>
        <?php
    }
    ?>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>

    <?php
    if($this->identity()->getRole() == 'admin') {
        ?>
        <div class="progress-step">
            <span class="path left"></span>
            <span class="step">
                <a href="<?= $this->url('upload/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getUploads()->isEmpty()){ ?>
                      <span class="ammount-label"><?= $report->getUploads()->count() ?></span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"></span>
        </div>
        <?php
    } else {
        ?>
        <div class="progress-step">
            <span class="path left"></span>
            <span class="step"><a href="#" class="step-in_progress"></a></span>
            <span class="path right"></span>
        </div>
        <?php
    }
    ?>

<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
</div>
<?php
}
?>






<?php
if($report != null && $report->getVersion() == 'v2'){
?>
<div class="progress-step">
    <span class="step"><a href="" class="step-done glyphicon glyphicon-ok"></a></span>
    <span class="path right"><span></span></span>
</div>

<div class="progress-step">
    <span class="path left"><span></span></span>
    <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
    <span class="path right"><span></span></span>
</div>

<?php
    if($this->identity()->getRole() == 'admin') {
?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step">
                <a href="<?= $this->url('comment/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getComments()->isEmpty()){ ?>
                    <span class="ammount-label"><?= $report->getComments()->count() ?></span>
                    <?php } ?>    
                </a>
            </span>
            <span class="path right"><span></span></span>
        </div>
<div class="progress-step">
    <span class="path left"><span></span></span>
    <span class="step"><a href="<?= $this->url('report/index', ['action' => 'index', 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-edit"></a></span>
    <span class="path right"></span>
</div>
<?php
    } else {
?>
<div class="progress-step">
    <span class="path left"><span></span></span>
    <span class="step"><a href="#" class="step-in_progress"></a></span>
    <span class="path right"></span>
</div>
<?php
    }
?>
    <?php
    if($this->identity()->getRole() == 'admin') {
        ?>
        <div class="progress-step">
            <span class="path left"></span>
            <span class="step">
                <a href="<?= $this->url('upload/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getUploads()->isEmpty()){ ?>
                      <span class="ammount-label"><?= $report->getUploads()->count() ?></span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"></span>
        </div>
        <?php
    } else {
        ?>
        <div class="progress-step">
            <span class="path left"></span>
            <span class="step"><a href="#" class="step-in_progress"></a></span>
            <span class="path right"></span>
        </div>
        <?php
    }
    ?>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
</div>
<?php
}
?>

<?php
if($report != null && $report->getVersion() == 'def' && $report->getCheckN() == 'NO'){
    ?>
    <div class="progress-step">
        <span class="step"><a href="" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>

    <div class="progress-step">
        <span class="path left"><span></span></span>
        <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>
    <?php
    if($this->identity()->getRole() == 'admin'){
        ?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step">
                <a href="<?= $this->url('comment/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getComments()->isEmpty()){ ?>
                    <span class="ammount-label"><?= $report->getComments()->count() ?></span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"><span></span></span>
        </div>
        <?php
    }
    ?>


    <div class="progress-step">
        <span class="path left"><span></span></span>
        <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>

    <?php
    if($this->identity()->getRole() == 'admin') {
        ?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step">
                <a href="<?= $this->url('upload/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getUploads()->isEmpty()){ ?>
                      <span class="ammount-label"><?= $report->getUploads()->count() ?></span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"><span></span></span>
        </div>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step">
                <a href="<?= $this->url('report/index', ['action' => 'index', 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-edit">
                    <?php if(1 == 1){ ?>
                    <span class="ammount-label">2</span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"></span>
        </div>
        <?php
    }
    ?>
    <?php
     if($this->identity()->getRole() != 'admin'){
        ?>
         <div class="progress-step">
             <span class="path left"><span></span></span>
             <span class="step"><a href="#" class="step-in_progress"></a></span>
             <span class="path right"><span></span></span>
         </div>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step"><a href="#" class="step-in_progress"></a></span>
            <span class="path right"></span>
        </div>

        <?php
    }
    ?>
    <div class="progress-step">
        <span class="path left"></span>
        <span class="step"></span>
    </div>
<?php
}
?>

<?php
if($report != null && $report->getVersion() == 'def' && $report->getCheckN() == 'YES'){
    ?>
    <div class="progress-step">
        <span class="step"><a href="" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>

    <div class="progress-step">
        <span class="path left"><span></span></span>
        <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>

    <?php
    if($this->identity()->getRole() == 'admin'){
        ?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step">
                <a href="<?= $this->url('comment/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                    <?php if(! $report->getComments()->isEmpty()){ ?>
                      <span class="ammount-label"><?= $report->getComments()->count() ?></span>
                    <?php } ?>
                </a>
            </span>
            <span class="path right"><span></span></span>
        </div>
        <?php
    }
    ?>

    <div class="progress-step">
        <span class="path left"><span></span></span>
        <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>

    <div class="progress-step">
        <span class="path left"><span></span></span>
        <span class="step">
            <a href="<?= $this->url('upload/index', ['action' => 'index', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-plus">
                <?php if(! $report->getUploads()->isEmpty()){ ?>
                  <span class="ammount-label"><?= $report->getUploads()->count() ?></span>
                <?php } ?>
            </a>
        </span>
        <span class="path right"><span></span></span>
    </div>
    <div class="progress-step">
        <span class="path left"><span></span></span>
        <span class="step"><a href="<?= $this->url('report/index', ['action' => 'index', 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-done glyphicon glyphicon-ok"></a></span>
        <span class="path right"><span></span></span>
    </div>
    <?php
    if($report->getCheckR() == 'NO' && $this->identity()->getRole() == 'admin'){
        ?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step"><a href="#" class="step-in_progress"></a></span>
        </div>
        <?php
    } if($report->getCheckR() == 'NO' && $this->identity()->getRole() == 'country'){
        ?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step"><a href="<?= $this->url('report/index', ['action' => 'index', 'report' => $report->getId()], ['query' => $this->params]) ?>" class="step-add glyphicon glyphicon-edit"></a></span>
        </div>
        <?php
    }
    ?>
    <?php
    if($report->getCheckR() == 'YES'){
        ?>
        <div class="progress-step">
            <span class="path left"><span></span></span>
            <span class="step"><a href="#" class="step-done glyphicon glyphicon-ok"></a></span>
        </div>
        <?php
    }
    ?>
    <?php
}
?>

<?php
if($report == null){
?>
<div class="progress-step">
    <span class="step"></span>
    <span class="path right"></span>
</div>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>

    <?php
    if($this->identity()->getRole() == 'admin'){
        ?>
        <div class="progress-step">
            <span class="path left"></span>
            <span class="step"></span>
            <span class="path right"></span>
        </div>
        <?php
    }
    ?>


<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
    <span class="path right"></span>
</div>
<div class="progress-step">
    <span class="path left"></span>
    <span class="step"></span>
</div>
<?php
}
?>