<style>
    span.percentageSpan {
        padding: 6px 0;
        border-radius: 50px;
        text-align: center;
        display: block;
        margin: 0 auto !important;
        width: 65px;
        font-weight: 100;
        background-color: white;
    }
    .red-span {
        background-color: #F0504F !important;
        color: white; }
    /* line 2560, ../scss/_main.scss */
    .orange-span {
        background-color: #FF8740 !important;
        color: white; }
    /* line 2564, ../scss/_main.scss */
    .green-span {
        background-color: #9FBA5F !important;
        color: white; }

    .legend-wrapper {
        width: auto;
        float: left;
        position: relative;
        margin: 30px 0 10px;
    }
    .legend.green {
        background-color: #15A645;
    }
    .legend.orange {
        background-color: #FF9043;
    }
    .legend.red {
        background-color: #FF3B3B;
    }
    .legend-wrapper .legend {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0 10px;
    }
    .legend {
        margin: 15px 0 5px 0;
    }

</style>

<?php // Order toggle
if (isset($params['order'])){
    $order = ($params['order'] == 'ASC') ? 'DESC' : 'ASC';
}else{
    $order = 'ASC';
}

$total_visits = count($this->result);
$total_reports = 0;

?>
<style>
    .dealer {
        cursor: pointer;
    }
</style>

<div class="row big-filter visitfilter">
    <div class="col-xs-12">
        <?= $this->form($this->form) ?>
    </div>
</div>

<div class="row report-option-bar">
    <div class="col-xs-12">
        <a class="btn btn-default" href="<?= $this->url('project/index') ?>"><span class="glyphicon glyphicon-chevron-left"></span> BACK</a>
        <?php if($this->identity()->getRole() == 'admin') { ?>
            <a class="btn btn-primary" href="<?= $this->url('visit/renault_save', ['action' => 'index', 'project' => $this->project_id]) ?>"><span class="glyphicon glyphicon-plus"></span> ADD VISIT</a>
        <?php } ?>
        <a class='btn btn-default pull-right' style="margin-right:0 !important;" href="<?= $this->url('report/export', ['action' => 'export', 'project' => $this->project_id]) ?>">EXCEL <i class="glyphicon glyphicon-download-alt" ></i></a>
    </div>
</div>

<div class="row report">
    <div class="col-xs-12">
        <div class="report-table-wrapper">

            <div class="report-table-loader">
                <div class="spinner"></div>
            </div>

            <?php


            if($total_visits == 0){
                echo "No visits";
            } else {
                ?>

                <table class="report-table">
                    <thead>
                    <tr>
                        <th class="data-col">
                            <a href="<?= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'lc.hub', 'order' => $order])]) ?>">
                                <div>
                                    Hub nr
                                    <?php if(! empty($this->params['sort']) && $this->params['sort'] == 'lc.hub' && $this->params['order'] == 'ASC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                    <?php }elseif(! empty($this->params['sort']) && $this->params['sort'] == 'lc.hub' && $this->params['order'] == 'DESC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php }else{ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php } ?>
                                </div>
                            </a>
                        </th>
                        <th class="data-col">
                            <a href="<?= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'lc.code_dealer', 'order' => $order])]) ?>">
                                <div>
                                    Location id
                                    <?php if(! empty($this->params['sort']) && $this->params['sort'] == 'lc.code_dealer' && $this->params['order'] == 'ASC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                    <?php }elseif(! empty($this->params['sort']) && $this->params['sort'] == 'lc.code_dealer' && $this->params['order'] == 'DESC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php }else{ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php } ?>
                                </div>
                            </a>
                        </th>
                        <th class="data-col">
                            <a href="<?= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'lc.name', 'order' => $order])]) ?>">
                                <div>
                                    Location name
                                    <?php if(! empty($this->params['sort']) && $this->params['sort'] == 'lc.name' && $this->params['order'] == 'ASC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                    <?php }elseif(! empty($this->params['sort']) && $this->params['sort'] == 'lc.name' && $this->params['order'] == 'DESC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php }else{ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php } ?>
                                </div>
                            </a>
                        </th>
                        <!--<th class="data-col">
              <a href="<?/*= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'lc.zipcode', 'order' => $order])]) */?>">
              <span>Postcode</span>
              </a>
            </th>-->
                        <th class="data-col">
                            <a href="<?= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'lc.city', 'order' => $order])]) ?>">
                                <div>
                                    City
                                    <?php if(! empty($this->params['sort']) && $this->params['sort'] == 'lc.city' && $this->params['order'] == 'ASC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                    <?php }elseif(! empty($this->params['sort']) && $this->params['sort'] == 'lc.city' && $this->params['order'] == 'DESC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php }else{ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php } ?>
                                </div>
                            </a>
                        </th>
                        <th class="data-col">
                            <a href="<?= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'ad.name', 'order' => $order])]) ?>">
                                <div>
                                    Advisor
                                    <?php if(! empty($this->params['sort']) && $this->params['sort'] == 'ad.name' && $this->params['order'] == 'ASC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                    <?php }elseif(! empty($this->params['sort']) && $this->params['sort'] == 'ad.name' && $this->params['order'] == 'DESC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php }else{ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php } ?>
                                </div>
                            </a>
                        </th>
                        <th class="data-col">
                            <a href="<?= $this->url('visit/renault_index', ['action' => 'index', 'project' => $this->project_id], ['query' => array_merge($this->params, ['sort' => 'vi.date', 'order' => $order])]) ?>">
                                <div>
                                    Date lead
                                    <?php if(! empty($this->params['sort']) && $this->params['sort'] == 'vi.date' && $this->params['order'] == 'ASC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                    <?php }elseif(! empty($this->params['sort']) && $this->params['sort'] == 'vi.date' && $this->params['order'] == 'DESC'){ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php }else{ ?>
                                        <span class="sort-icon glyphicon glyphicon-triangle-top sort-asc"></span>
                                        <span class="sort-icon glyphicon glyphicon-triangle-bottom sort-desc"></span>
                                    <?php } ?>
                                </div>
                            </a>
                        </th>

                        <!--
                        <th class="progress-col">Report<br/>V1</th>
                        <th class="progress-col">Report<br/>V2</th>
                        <th class="progress-col">Feedback<br/>&amp;Beyond</th>
                        <th class="progress-col">Report<br/>Def</th>
                        <th class="progress-col">Uploads</th>
                        <th class="progress-col">Check<br/>&amp;Beyond</th>
                        <th class="progress-col">Check<br/>Renault</th>
                        <th class="progress-col"><button type="submit">Publish</button></th>
                        -->
                        <th class="data-col">
                            <div>Report<br/>Score</div>
                        </th>
                        <th colspan="8" class="progress-col">

                            <div class="progress-col-header">Report<br/>V1</div>
                            <div class="progress-col-header">Report<br/>V2</div>
                            <?php
                            if ($this->identity()->getRole() == 'admin') {
                                ?>
                                <div class="progress-col-header">Feedback<br/>&amp;beyond</div>
                                <?php
                            }
                            ?>
                            <div class="progress-col-header">Report<br/>Def</div>
                            <div class="progress-col-header">Uploads</div>
                            <div class="progress-col-header">Check<br/>&amp;beyond</div>
                            <div class="progress-col-header">Check<br/>Renault</div>
                            <?php
                            if ($this->identity()->getRole() == 'admin') {
                                ?>
                                <div class="progress-col-header">
                                    <button disabled type="button" id="pub_btn">Publish</button>
                                </div>
                                <?php
                            }
                            ?>


                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    <?php
                    /**
                     * @var Application\Entity\Visit $visit
                     */
                    foreach ($this->result as $visit) {
                        /**
                         * @var Renault\Entity\Dealer $dealer
                         */
                        $dealer = $visit->getLocation();
                        ?>
                        <tr class="clickable-row">


                            <td class="data-col dealer"
                                data-dealer="<?= htmlspecialchars(json_encode($dealer->getArrayCopy()), ENT_QUOTES, 'UTF-8'); ?>"><?= $dealer->getHub()->getId(); ?></td>
                            <td class="data-col dealer"
                                data-dealer="<?= htmlspecialchars(json_encode($dealer->getArrayCopy()), ENT_QUOTES, 'UTF-8'); ?>"><?= $dealer->getDealerCode(); ?></td>


                            <td class="data-col dealer"
                                data-dealer="<?= htmlspecialchars(json_encode($dealer->getArrayCopy()), ENT_QUOTES, 'UTF-8'); ?>"><?= $dealer->getName(); ?></td>
                            <!--<td class="data-col dealer"
                  data-dealer="<?/*= htmlspecialchars(json_encode($dealer->toArray()), ENT_QUOTES, 'UTF-8'); */?>"><?/*= $dealer->getZipcode(); */?></td>-->
                            <td class="data-col dealer"
                                data-dealer="<?= htmlspecialchars(json_encode($dealer->getArrayCopy()), ENT_QUOTES, 'UTF-8'); ?>"><?= $dealer->getCity(); ?></td>
                            <td class="data-col"><?= $visit->getAdvisor()->getName(); ?></td>
                            <td class="data-col"><?= $visit->getDate()->format('d-m-Y'); ?></td>

                            <?php
                            /**
                             * @var \Doctrine\Common\Collections\ArrayCollection $reports
                             */
                            $report = $visit->getReport();
                            /*$total_reports += count($reports);
                            /**
                             * @var \Survey\Entity\Report $report
                             *
                            $report = null;

                            foreach ($reports as $report1) {
                                $report = $report1;
                            }*/

                            ?>
                            <td class="data-col total-score">
                <span class="percentageSpan">
                  <?= ($report != null) ? $report->getScore() . '%' : 'NA' ?>
                </span>
                            </td>
                            <td class="progress-col" colspan="8">
                                <?= $this->partial('partial/report_steps.phtml', ['project_id' => $project_id, 'report' => $report, 'params' => $this->params]) ?>
                                <?php if ($this->identity()->getRole() == 'admin') { ?>
                                    <div class="progress-step">
                                        <?php if ($report != null && $report->getVersion() == 'def' && $report->getCheckN() == 'YES' && $report->getCheckR() == 'YES' && $this->identity()->getRole() == 'admin') { ?>

                                            <label for="check-<?= $report->getId(); ?>"
                                                   class="progress-check <?= ($report->getPublish() == 'YES') ? 'checked' : '' ?>"></label>
                                            <input type="checkbox"
                                                   class="publish"
                                                   id="check-<?= $report->getId() ?>"
                                                   data-report="<?= $report->getId() ?>"
                                                <?= ($report->getPublish() == 'YES') ? 'checked' : '' ?>
                                                   value="<?= ($report->getPublish() == 'YES') ? 'YES' : 'NO' ?>"/>

                                        <?php } ?>
                                    </div>
                                <?php } ?>
                            </td>


                        </tr>
                        <tr class="expandable">
                            <td colspan="7" class="report-info">

                                <div class="visit-info-wrapper">
                                    <?php /*
                                <p><?= $dealer->getAddress() ?></p>
                                <p><?= $dealer->getZipcode() ?></p>
                                <p><?= $dealer->getCity() ?></p>
                                <p><?= $dealer->getPhone() ?></p>
                                <p><?= $dealer->getFax() ?></p>
                                <p><?= $dealer->getEmail() ?></p>

                                <p><?= $dealer->getHub()->getId() ?></p>
                                <p><?= $dealer->getZone()->getName() ?></p>
                                <p><?= $dealer->getContractLevel() ?></p>
                                <p><?= $dealer->getRenaultContract() ?></p>
                                <p><?= $dealer->getRenaultActivity() ?></p>
                                <p><?= $dealer->getDaciaContract() ?></p>
                                <p><?= $dealer->getDaciaActivity() ?></p> */ ?>

                                    <div class="visit-info">
                                    <span>
                                        <label>Hub id:</label><p><?= $dealer->getHub()->getId() ?></p>
                                    </span>
                                        <span>
                                        <label>Zone:</label><p><?= $dealer->getZone()->getName() ?></p>
                                    </span>
                                        <span>
                                        <label>Contract level:</label><p><?= $dealer->getContractLevel() ?></p>
                                    </span>
                                        <span>
                                        <label>Renault Contract:</label><p><?= $dealer->getRenaultContract() ?></p>
                                    </span>
                                        <span>
                                        <label>Renault activity:</label><p><?= $dealer->getRenaultActivity() ?></p>
                                    </span>
                                        <span>
                                        <label>Dacia Contract:</label><p><?= $dealer->getDaciaContract() ?></p>
                                    </span>
                                        <span>
                                        <label>Dacia activity:</label><p><?= $dealer->getDaciaActivity() ?></p>
                                    </span>
                                    </div>
                                    <div class="visit-info">
                                    <span>
                                        <label class="small">Adress:</label><p><?= $dealer->getAddress() ?></p>
                                    </span>
                                        <span>
                                        <label class="small">Zipcode:</label><p><?= $dealer->getZipcode() ?></p>
                                    </span>
                                        <span>
                                        <label class="small">City:</label><p><?= $dealer->getCity() ?></p>
                                    </span>
                                        <span>
                                        <label class="small">Phone:</label><p><?= $dealer->getPhone() ?></p>
                                    </span>
                                        <span>
                                        <label class="small">Fax:</label><p><?= $dealer->getFax() ?></p>
                                    </span>
                                        <span>
                                        <label class="small">Email:</label><p><?= $dealer->getEmail() ?></p>
                                    </span>
                                    </div>

                                    <?php
                                    if ($this->identity()->getRole() == 'admin') {
                                        ?>
                                        <a style="float:right;margin-left:10px;"
                                           href="<?= $this->url('visit/del', ['action' => 'delete', 'project' => $project_id, 'visit' => $visit->getId()], ['query' => $this->params]) ?>"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                        <a style="float:right;"
                                           href="<?= $this->url('visit/renault_save', ['action' => 'index', 'project' => $project_id, 'visit' => $visit->getId()], ['query' => $this->params]) ?>"><span
                                                class="glyphicon glyphicon-edit"></span></a>
                                        <?php
                                    }
                                    ?>
                                </div>

                            </td>
                            <td colspan="7" class="no-style"></td>
                        </tr>

                        <?php
                    }

                    ?>

                    </tbody>
                </table>
                <?php
            }
            ?>
        </div>

        <!--<div class='input-group date' id='myDatepicker'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
              </span>
        </div>-->


    </div>
    <div class="legend-wrapper">
        <span class="legend green"></span>  &ge; 80%
        <span class="legend orange"></span>60% - 80%
        <span class="legend red"></span> &lt; 60%
    </div>
</div>
<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Dealer</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->
<script>

    $(function () {
        "use strict";
        $.nBeyond = $.nBeyond || {};
        $.nBeyond.Report = (function() {

            var score = function () {
                $(".total-score").each(function() {

                    var value = $(this).text().replace('%', '');
                    if ( value < 60 ){
                        $(this).children("span").addClass("red-span");
                    }
                    if (80 > value && value >= 60){
                        $(this).children("span").addClass("orange-span");
                    }
                    if (100 >= value && value > 60){
                        $(this).children("span").addClass("green-span");
                    }
                });
            };

            return {
                init : function(){
                    $('#pub_btn').on('click', function (e) {
                        console.log('click');

                        $(e.target).html("<span class='loading'>Loading...</span><span class='spinner-wrapper'><span class='btn-spinner glyphicon glyphicon-refresh'></span></span>");
                        $(e.target).attr("disabled", 'disabled');

                        var checks = $('input.publish');
                        console.log(checks);
                        $.each(checks ,function (key, item) {
                            $.ajax({
                                type: "POST",
                                url: "<?= $this->url('report/publish') ?>",
                                data: {'report_id': $(item).data('report'), 'publish': $(item).val()},
                            }).done(function(data) {

                                $(e.target).html("Publish");
                                $(e.target).removeAttr("disabled");

                                if( data.status == 'success') {
                                    console.log(data);
                                    $("body").append("<div class='publish-alert alert alert-success alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+data.message+"</div>");

                                }else if(data.status == 'error'){
                                    $("body").append("<div class='publish-alert alert alert-danger alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+data.message+"</div>");
                                }

                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                console.error('jqXHR', jqXHR);
                                console.error('textStatus', textStatus);
                                console.error('errorThrown', errorThrown);
                            });
                        });
                    });

                    score();
                },
            }
        })();
        $.nBeyond.Report.init();

        //var selected_hub = null;
        var hub = $('#visitfilter select[name="hub"]');
        hub.on('change', function (e) {
            console.log('change');
            console.log($(e.target).val());
            var selected_hub = $(e.target).val();
            var dealer = $('#visitfilter select[name="location"]');

            $('#visitfilter select[name="location"] option').prop("selected", false);
            $('#visitfilter select[name="location"] option').each(function()
            {
                $(this).prop("selected", false);
                console.log('test');
                var hub = $(this).data('hub');

                if(selected_hub == ''){
                    $(this).show();
                }
                if(selected_hub != '' && hub == selected_hub){
                    $(this).show();
                }
                if(selected_hub != '' && hub != selected_hub && $(this).val() != ''){
                    $(this).hide();
                }
            });

            dealer.change();
            dealer.selectpicker('destroy');
            dealer.selectpicker();
        });
        hub.change();

        <?php if (isset($this->params['location'])){ ?>
        $('#visitfilter select[name="location"] option[value="<?= $this->params['location'] ?>"]').prop("selected", true);
        <?php } ?>

    });

    $(document).ready(function(){

        'use strict';

        $(".sub-pagetitle").html("<?= $this->title ?> - [<?= $total_visits . '/' . $total_reports ?>]");

        $(".selectpicker").selectpicker();

        // dynamic column width calculations
        // is needed because ammount of cols differs between roles thus cannot be done with CSS:
        $(".progress-col").each(function(){

            var table_width = $(this).outerWidth();

            var header_ammount = $(this).children(".progress-col-header").length;
            var header_col_width = table_width / header_ammount;
            $(this).children(".progress-col-header").css('width', header_col_width+"px");

            var body_ammount = $(this).children(".progress-step").length;
            var body_col_width = table_width / body_ammount;
            $(this).children(".progress-step").css('width', body_col_width+"px");
        });
        // end column width calculation
        $(".clickable-row .data-col").click(function(){
            $(this).parent().next(".expandable").children("td.report-info").children(".visit-info-wrapper").slideToggle(300);
        });

        if($(".progress-check").hasClass("checked")){
            $("#pub_btn").removeAttr("disabled");
        }
        // progress checkbox actions:
        $(".progress-check").click(function(e){
            $(this).toggleClass("checked");
            if($(this).hasClass("checked")){
                $(e.target).parent().find('.publish').attr('checked', true);
                $(e.target).parent().find('.publish').val('YES');
            }else{
                $(e.target).parent().find('.publish').attr('checked', false);
                $(e.target).parent().find('.publish').val('NO');
            }

            if($(".progress-check").hasClass("checked")){
                $("#pub_btn").removeAttr("disabled");
            }else{
                // $("#pub_btn").attr("disabled", 'disabled');
            }
        });

        $("input[name='start']").datetimepicker({ format: "DD-MM-Y" });
        $("input[name='end']").datetimepicker({ format: "DD-MM-Y" });


        $(".report-table-loader").fadeOut(200);

        $(".data-col a, #submitbutton").click(function(){
            $(".report-table-loader").fadeIn(200);
        });

    });
    // on window resize, re-calculate column widths:
    $(window).on('resize', function(){
        $(".progress-col").each(function(){

            var table_width = $(this).outerWidth();

            var header_ammount = $(this).children(".progress-col-header").length;
            var header_col_width = table_width / header_ammount;
            $(this).children(".progress-col-header").css('width', header_col_width+"px");

            var body_ammount = $(this).children(".progress-step").length;
            var body_col_width = table_width / body_ammount;
            $(this).children(".progress-step").css('width', body_col_width+"px");
        });
    });
</script>