<?php
$title = 'Beheersplatform';
$this->headTitle($title);
?>

<?= $this->doctype() ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php //echo $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false); ?>
        <title>Beheerplatform &amp;beyond</title>
        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/renault-logo-small.png'])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-lightbox.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-datetimepicker.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/bootstrap-select.js'))
            ->prependFile($this->basePath('js/bootstrap-lightbox.min.js'))
            ->prependFile($this->basePath('js/bootstrap-datetimepicker.min.js'))
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/moment.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>

        <style>
        
            
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    
                    <?php if($this->identity()){ ?>
                    <button type="button" class="navbar-toggle collapsed pull-left sidenav-btn" data-toggle="collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="pull-left menu-label">MENU</p>
                    <?php  } ?>

                    <h1 class="header-title">Beheerplatform &amp;beyond</h1>


                    <a class="navbar-brand pull-right" href="#">
                        <img class="renault-logo" alt="Renault" src="<?= $this->basePath('/img/renault-logo.png') ?>"/>
                        <img class="renault-logo-small" alt="Renault" src="<?= $this->basePath('/img/renault-logo-small.png') ?> ?>"/>
                     </a>
                </div>

                <div id="sidenav" class="sidenav">


                    <div class="overlay"></div>

                    <div class="sidenav-menu">
                        <span class="close-nav">&times;</span>

                        <?php if($this->identity()){ ?>
                        <div class="logged-in-as">
                            <span class="avatar" style="background-image:url('<?= $this->basePath('img/avatar-placeholder.png') ?>');"></span>
                            <p><?= $this->identity()->getEmail() ?></p>
                            <p><?= $this->identity()->getRole() ?></p>
                        </div>
                        <?php } ?>

                        <?= $this->navigation('Zend\Navigation\Special')->setAcl($this->acl)->setRole($this->role)->menu()->setUlClass('nav navbar-nav') ?>
                    </div>
                </div>




            </div>
        </nav>
        <div class="sub-header">
            <p class="sub-pagetitle"><?= $this->headTitle()[0] ?></p>
        </div>
        <div class="container-fluid content">
            <?= $this->content ?>
        </div>

        <?= $this->inlineScript() ?>

        <script>
            $(document).ready(function(){



                $(".sidenav-btn").click(function(){

                    $("#sidenav").fadeIn(200, function(){

                        $(this).children(".sidenav-menu").animate({
                            left:0
                        }, 200);
                    });

                    

                });
                $(".close-nav").click(function(){
                    $(this).parent().animate({
                        left:menuLeft
                    }, 200, function(){
                        $("#sidenav").fadeOut(200)
                    })
                });
                $(".overlay").click(function(){
                    $(this).siblings(".sidenav-menu").animate({
                        left:menuLeft
                    }, 200, function(){
                        $("#sidenav").fadeOut(200)
                    })
                })
                if($(window).width() > 414){
                    var menuLeft = '-320px';
                    console.log(menuLeft);
                }else{
                    var menuLeft = '-100%';
                    console.log(menuLeft);
                }
                $(window).on('resize', function(){
                    if($(window).width() > 414){
                        var menuLeft = '-320px';
                        console.log(menuLeft);
                    }else{
                        var menuLeft = '-100%';
                        console.log(menuLeft);
                    }
                });

            });
        </script>
    </body>
</html>
