<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 24-7-17
 * Time: 11:02
 */

$title = 'Delete visit';
$url   = $this->url('visit/del', ['action' => 'delete', 'project' => $project_id, 'visit' => $visit_id], ['query' => $this->params]);

$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Are you sure that you want to delete
    "<?= $this->escapeHtml($visit->getId()) ?>" by
    "<?= $this->escapeHtml($visit->getDate()->format("d-m-Y")) ?>"?
</p>

<form action="<?= $url ?>" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="<?= (int) $visit->getId() ?>" />
        <input type="submit" class="btn btn-danger" name="del" value="Yes" />
        <input type="submit" class="btn btn-success" name="del" value="No" />
    </div>
</form>