<style>

  .option{
    float:left;
    width:100%;
  }
</style>

<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 7-11-17
 * Time: 15:09
 */

$title = 'Save Question';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php

$this->form->setAttributes(['id' => 'questionForm']);

$questionCo = $this->form->get('questionCo');

$qnumber = $questionCo->get('qnumber');
$qnumber->setAttribute('class', 'form-control');

$project = $questionCo->get('project');
$project->setValue($this->project_id);

$category = $questionCo->get('category');
$category->setAttribute('class', 'form-control');

$type = $questionCo->get('type');
$type->setAttribute('class', 'form-control question_type');

$question = $questionCo->get('question');
$question->setAttribute('class', 'form-control');

$instruction = $questionCo->get('instruction');
$instruction->setAttribute('class', 'form-control');

$image = $questionCo->get('image');

$optional = $questionCo->get('optional');

$optionsCo = $questionCo->get('options');

$submit = $this->form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$this->form->setAttribute('action', $this->url('question/save', ['action' => 'index', 'project' => $this->project_id, 'question' => $this->question_id]));
$this->form->prepare();

if(! empty($this->message)){

  ?>
  <div class="alert alert-danger" role="alert"><?= $this->message ?></div>
    <?php
}

echo $this->form()->openTag($this->form);
?>

<div class="form-group">
    <?= $this->formLabel($qnumber) ?>
    <?= $this->formElement($qnumber) ?>
    <?= $this->formElementErrors()->render($qnumber, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($category) ?>
    <?= $this->formElement($category) ?>
    <?= $this->formElementErrors()->render($category, ['class' => 'help-block']) ?>
    <a href="<?= $this->url('category/save', ['action' => 'index']) ?>" class="btn">Add Category</a>
</div>

<div class="form-group">
    <?= $this->formLabel($type) ?>
    <?= $this->formElement($type) ?>
    <?= $this->formElementErrors()->render($type, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($question) ?>
    <?= $this->formElement($question) ?>
    <?= $this->formElementErrors()->render($question, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($instruction) ?>
    <?= $this->formElement($instruction) ?>
    <?= $this->formElementErrors()->render($instruction, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($image) ?>
    <?= $this->formFile($image) ?>
    <?= $this->formElementErrors()->render($image, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
  <div class="checkbox">
    <label>
        <?= $this->formCheckbox($optional) ?>
      Optional
    </label>
  </div>
</div>

<div class="row options">
    <?= $this->templatedFormCollection($optionsCo, true, 'question/save/option'); ?>
</div>

<?php
echo $this->formHidden($project);
echo $this->formHidden($questionCo->get('id'));
echo $this->formSubmit($submit);
echo $this->form()->closeTag();

if($this->status != null){
    echo $this->status;
}
?>

<script>

    $(function () {
        //$('.option').hide();
        var optionIndex = $('form > .options > div.option').length;
        var question_id = <?= ($this->question_id != null) ? $this->question_id : 0 ?>;
        var createOption = function () {
            console.log('createOption');

            var template = $('form > .options > span').data('template');
            template = template.replace(/__index__/g, optionIndex);

            $('form > .options').append(template);

            optionIndex++;
            return false;
        };

        $('.question_type').on('change', function (e) {
            console.log('change');
            console.log($(e.target).val());

            if ($(e.target).val() != 2){
                $('.options > .option').not('#optionTemplate').remove();
                optionIndex = 0;
            }

            if ($(e.target).val() == 2 && optionIndex == 0){
                createOption();
            }

            if ($(e.target).val() == 2){
                $('div.option:gt(0)').find('label.control-label:first-child').remove();
                $('div.option:gt(0)').find('div.offset:first-child').addClass('col-xs-offset-1');
                $('div.option:gt(0)').find('.addButton').removeClass('addButton').addClass('removeButton');
                $('div.option:gt(0)').find('.glyphicon-plus').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });

        $('.question_type').change();

        $('#questionForm')// Add button click handler
            .on('click', '.addButton', function() {

                createOption();

                $('div.option:gt(0)').find('label.control-label:first-child').remove();
                $('div.option:gt(0)').find('div.offset:first-child').addClass('col-xs-offset-1');
                $('div.option:gt(0)').find('.addButton').removeClass('addButton').addClass('removeButton');
                $('div.option:gt(0)').find('.glyphicon-plus').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                //$('[data-option-index="'+optionIndex+'"] > label').remove();
            })

            // Remove button click handler
            .on('click', '.removeButton', function() {
                var $row  = $(this).parents('.form-group'),
                    index = $row.attr('data-book-index');
                $row.remove();
            });
    });

</script>