<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 15-11-17
 * Time: 13:00
 */

/** @var \Zend\Form\Element\Collection $collection */
$collection     = $this->collection;
$option         = $collection->get('option');
$points         = $collection->get('points');
$skipTo         = $collection->get('skipTo');
$photo_required = $collection->get('photo_required');
?>

<div class="form-group option">
    <label class="col-xs-1 control-label">Options</label>

    <div class="col-xs-6 col-md-4 col-lg-3 offset">
        <?= $this->formRow($option); ?>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
        <?= $this->formRow($points); ?>
    </div>

    <div class="col-xs-6 col-md-4 col-lg-2">
        <?= $this->formRow($skipTo); ?>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-2">
        <div class="checkbox">
            <label>
              <?= $this->formCheckbox($photo_required) ?>
              Photo required
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-1">
        <button type="button" class="btn btn-default addButton"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
</div>
