<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 27-7-17
 * Time: 17:16
 */

/**
 * @var \Survey\Entity\Report $report
 * @var \Survey\Entity\Answer $answer
 * @var \Survey\Entity\Question $question
 * @var \Survey\Entity\AnswerPhoto $photo
 */

$title = 'Report edit';
if($this->identity()->getRole() != 'admin'){
    $title = 'Report';
}

$this->headTitle($title);
$project_id = $report->getVisit()->getProject()->getId();
?>

<div class="answer-image-overlay">

    <div class="zoomed-image">
        <span class="glyphicon glyphicon-remove close-overlay"></span>
        <div class="image-well">
            <img onload="fadeIn($(this).parent().parent())" src=""/>
        </div>
    </div>

    <div class="loader">
        <div class="spinner"></div>
    </div>

</div>

<div class="row editor-options">

    <div class="col-md-8">
<?php
$version = $form->get('version');
if($this->identity()->getRole() != 'admin'){
    $version->setAttribute('disabled', 'disabled');
}
$version->setValue($report->getVersion());

$check_n = $form->get('check_n');
$check_r = $form->get('check_r');

        //var_dump($form->getMessages());
        /*
        echo "Report version: " . $report->getVersion() . '<br/>';
        echo "Location name: " . $report->getVisit()->getLocation()->getName() . '<br/>';
        echo "Advisor: " . $report->getVisit()->getAdvisor()->getName() . '<br/>';
        */ ?>

        <div class="editor-report-info">
            <div>
                <label>Report version:</label>
                <p><?= $report->getVersion() ?></p>
            </div>
          <div>
            <label>Report score:</label>
            <p class="report_score"><?= $report->getScore() . '%' ?></p>
          </div>
            <div>
                <label>Location:</label>
                <p><?= $report->getVisit()->getLocation()->getName() ?></p>
            </div>
            <div>
                <label>Advisor:</label>
                <p><?= $report->getVisit()->getAdvisor()->getName() ?></p>
            </div>
        </div>

        <div class="editor-actions">
          <a class="btn btn-default" style="margin-right:25px;" href="#">Back</a>
          <a href="<?= $this->url('report/pdf', ['action' => 'pdf', 'project' => $project_id, 'report' => $report->getId()], ['query' => null]) ?>" class="btn btn-default">PDF</a>
            <?php
            if($this->identity()->getRole() == 'admin'){
                ?>
                <a href="<?= $this->url('report/delete', ['action' => 'delete', 'project' => $project_id, 'report' => $report->getId()], ['query' => $this->params]) ?>" class="btn btn-danger">Delete</a>
                <?php
            }
            ?>
        </div>

    </div>

    <div class="col-md-4 status-control">
        <form id="report" method="post" action="#">
            <input type="hidden" name="id" value="<?= $report->getId() ?>">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group status-radio-btns">
                        <?= $this->formLabel($version) ?>
                        <?= $this->formElement($version) ?>
                        <?= $this->formElementErrors()->render($version, ['class' => 'help-block']) ?>
                    </div>
                    <button type="submit" class="btn btn-primary pull-left">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <!--<div class="form-group">
                    <?/*= $this->formLabel($check_n) */?>
                    <?/*= $this->formElement($check_n) */?>
                    <?/*= $this->formElementErrors()->render($check_n, ['class' => 'help-block']) */?>
                </div>-->

                    <div class="checkbox <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>">
                        <label>
                            <input type="hidden" name="check_n" value="NO">
                            <input type="checkbox" name="check_n" value="YES" <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?> <?= ($report->getCheckN() == 'YES') ? 'checked' : '' ?>>
                            &beyond check
                        </label>
                    </div>
                    <div class="checkbox <?= (! in_array($this->identity()->getRole(), ['admin', 'country'])) ? 'disabled' : '' ?>">
                        <label>
                            <input type="hidden" name="check_r" value="NO">
                            <input type="checkbox" name="check_r" value="YES" <?= (! in_array($this->identity()->getRole(), ['admin', 'country'])) ? 'disabled' : '' ?> <?= ($report->getCheckR() == 'YES') ? 'checked' : '' ?>>
                            Renault check
                        </label>
                    </div>
                </div>
            </div>

        </form>

        <?php if(! empty($this->status) && $this->status == 'success'){ ?>
        <div class="alert alert-info alert-dismissable" style="margin-top:15px;float:left;min-width:50%;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <?= "Saved" ?>
        </div>
        <?php } ?>
    </div>
</div>

<?php
foreach ($report->getAnswers() as $answer){
    $question = $answer->getQuestion();
?>

<div class="row answer-editor">

    <div class="col-md-12 question">
        <h5><span>Question <?= $question->getQnumber()?>: </span><?= $question->getQuestion() ?></h5>
    </div>

    <div class="answer-edit-section">

        <div class="col-md-6"> 

            <div class="answer">


                <form class="answer" id="<?= $answer->getId() ?>">

                    <input type="hidden" name="id" value="<?= $answer->getId() ?>">

                    <?php if (! in_array($question->getType()->getType(), ['open', 'time'])){ ?>
                    <div class="form-group">
                        <label class="input-label" for="score">Score:</label>
                        <input type="text" class="form-control score" name="score" readonly value="<?= $answer->getScore() ?>">
                    </div>
                    <?php } ?>
                    <div class="form-group">
                        <label class="input-label" for="answer">Answer:</label>

                        <?php if ($question->getType()->getType() == 'open'){ ?>

                            <textarea class="form-control remark" name="answer" rows="3" <?= ($this->identity()->getRole() != 'admin') ? 'readonly' : '' ?>><?= $answer->getAnswer() ?></textarea>

                        <?php } if ($question->getType()->getType() == 'multiple_choice'){ ?>

                            <select class="form-control question_options" name="answer" <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>>
                                <?php
                                    /**
                                    * @var \Survey\Entity\QuestionOption $questionOption
                                    */
                                        foreach ($question->getOptions() as $questionOption){
                                ?>
                                <option <?= (trim($questionOption->getOption()) == trim($answer->getAnswer())) ? 'selected' : '' ?> data-score="<?= trim($questionOption->getPoints()) ?>"><?= $questionOption->getOption() ?></option>
                                <?php } ?>
                            </select>

                        <?php } if ($question->getType()->getType() == 'yes_no'){ ?>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="answer" value="YES" <?= ($answer->getAnswer() == 'YES') ? 'checked' : '' ?> <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>>
                                    Ja
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="answer" value="NO" <?= ($answer->getAnswer() == 'NO') ? 'checked' : '' ?> <?= ($this->identity()->getRole() != 'admin') ? 'disabled' : '' ?>>
                                    Nee
                                </label>
                            </div>

                        <?php } if ($question->getType()->getType() == 'time'){ ?>
                       
                            <input type="text" class="form-control form_datetime" name="answer" value="<?= $answer->getAnswer() ?>" <?= ($this->identity()->getRole() != 'admin') ? 'readonly' : '' ?>>
                                
            
                        <?php } ?>

                    </div>

                    <div class="form-group">
                        <label class="input-label" for="remark">Remark:</label>
                        <textarea class="form-control remark" name="remark" rows="3" <?= ($this->identity()->getRole() != 'admin') ? 'readonly' : '' ?>><?= $answer->getRemark() ?></textarea>
                    </div>
                    <?php if($this->identity()->getRole() == 'admin') { ?>
                        <button type="submit" class="btn btn-primary save-answer">Save</button>
                        <button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="<?= $answer->getId() ?>">Delete</button>
                    <?php } ?>
                </form>

            </div>

            <div class="message">

            </div>
        </div>

        <div class="col-md-6">
            
            <?php foreach ($answer->getPhotos() as $photo){ ?>
                
                 <div class="col-xs-4 answer-image-col"> 
                    <div class="answer-image-wrapper">

                        <div class="answer-image">
                            <img src="<?= $this->url('answer/image', ['action' => 'image', 'photo' => $photo->getId()], ['query' => null]) ?>">
                            <div class="zoom-in-answer-image">
                                <span class="glyphicon glyphicon-zoom-in"></span>
                            </div>
                        </div>

                    </div>
                </div>

            <?php } ?>

        </div>

    </div>

</div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="answerId" id="answerId" value=""/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="delete-answer-btn" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
<?php } ?>

<script>

    $(document).ready(function(){

        $(".zoom-in-answer-image").click(function(){
            // copy paste image src into img element inside overlay:
            var imageSrc = $(this).siblings("img").attr("src");
            $(".image-well img").attr("src", imageSrc);
            // define image width (for dynamic overlay proportions)
            var overlayWidth = $(".image-well img").outerWidth() + 30;
            // fade in the overlay:
            $(".answer-image-overlay").fadeIn(200);
        });

        $(".close-overlay, .answer-image-overlay").click(function(){

            $(".answer-image-overlay").fadeOut(200);
            $(".zoomed-image").animate({
                opacity:0
            }, 300, function(){
                $(".loader").show();    
            });
        });

        $(".zoomed-image").click(function(){
            return false;
        });

    });

    window.fadeIn = function(e) {
        e.animate({
            opacity:1
        },200);
        $(".loader").fadeOut(200);
    }

    $(function () {
        "use strict";
        $.nBeyond = $.nBeyond || {};
        $.nBeyond.Report = (function() {

            var onChangeVersion = function (e) {
                if(e.target.value == 'def' && $(e.target).is(':checked')) {
                    $('#report .checkbox').show();
                }else{
                    $('#report .checkbox').hide();
                }
            };

            return {
                init : function(){

                    $('#report input[name="version"]').on('change', onChangeVersion);
                    $('#report input[name="version"]').change();

                    $("form#report").submit(function() {
                        $("input").removeAttr("disabled");
                    });
                }
            }
        })();
        $.nBeyond.Report.init();

        $.nBeyond.Answer = (function() {

            var onChangeOptions = function (e) {
                var score = $(e.target).find(":selected").data('score');
                $(e.target).parent().parent().find(".score").val(score);
                //Save <span class="spinner glyphicon glyphicon-refresh"></span>

                var inputs = $('form.answer').find('input[name="score"]');
                var sum = 0;
                $.each(inputs, function () {
                    sum += Number($(this).val());
                });
                $('.report_score').html(sum + " %");
            };

            var onSubmit = function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();

                $(e.target).parent().parent().parent().find(".save-answer").html("Loading... <span class='btn-spinner glyphicon glyphicon-refresh'></span>");
                $(e.target).parent().parent().parent().find(".save-answer").attr("disabled", 'disabled');

                $.ajax({
                    type: "POST",
                    url: "<?= $this->url('answer/xhrSave', ['action' => 'xhrSave'], ['query' => null]) ?>",
                    data: $(this).serialize()
                }).done(function(data) {
                    //if ( data.status == 'success') {

                    $(e.target).parent().parent().parent().find(".save-answer").html("Save");
                    $(e.target).parent().parent().parent().find(".save-answer").removeAttr("disabled");

                    $(e.target).parent().parent().parent().find('.message').append("<div class='alert alert-info alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+data.message+"</div>");

                    //location.reload();
                    //}
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('jqXHR', jqXHR);
                    console.error('textStatus', textStatus);
                    console.error('errorThrown', errorThrown);
                });

            };

            return {
                init : function(){

                    $('.question_options').on('change', onChangeOptions);

                    $('.answer').on('submit', onSubmit);

                    $('.delete-btn').on('click', function (e) {
                        var answerId = $(this).data('id');
                        console.log(answerId);
                        $("#answerId").val( answerId );
                    });

                    $('#delete-answer-btn').on('click', function (e) {
                        console.log('delete: ' + $('#answerId').val());
                        $('#deleteModal').modal('hide');

                        $.ajax({
                            type: "POST",
                            url: "<?= $this->url('answer/xhrDelete', ['action' => 'xhrDelete'], ['query' => null]) ?>",
                            data: {id: $('#answerId').val()}
                        }).done(function(data) {
                            //if ( data.status == 'success') {

                            $(e.target).parent().parent().parent().find(".save-answer").html("Deleted");
                            $(e.target).parent().parent().parent().find(".save-answer").removeAttr("disabled");

                            $(e.target).parent().parent().parent().find('.message').append("<div class='alert alert-info alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+data.message+"</div>");

                            location.reload();
                            //}
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            console.error('jqXHR', jqXHR);
                            console.error('textStatus', textStatus);
                            console.error('errorThrown', errorThrown);
                        });
                    });

                },
            }
        })();
        $.nBeyond.Answer.init();
    });

    $(".question").click(function(){
        $(this).next(".answer-edit-section").slideToggle(300);
    });

    //init datepickers:
    $(".form_datetime").datetimepicker({format: 'YYYY-MM-DD H:mm'});

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        //$(this).ekkoLightbox();
    });
</script>