<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 3-11-17
 * Time: 14:19
 */

/** @var Application\Entity\CompetitorDealer $competitor */

$title = 'Competitors';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('competitor/save', ['action' => 'index']) ?>">Add new competitor</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Name</th>
        <th>City</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->competitors as $competitor) : ?>
        <tr>
            <td><?= $this->escapeHtml($competitor->getId()) ?></td>
            <td><?= $this->escapeHtml($competitor->getBrand()) ?></td>
            <td><?= $this->escapeHtml($competitor->getName()) ?></td>
            <td><?= $this->escapeHtml($competitor->getCity()) ?></td>
            <td>
                <a href="<?= $this->url('competitor/save', ['action' => 'index', 'competitor' => $competitor->getId()]) ?>">Edit</a>
                <a href="<?= $this->url('competitor/delete', ['action' => 'delete', 'competitor' => $competitor->getId()]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
