<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 7-8-17
 * Time: 15:33
 */
/**
 * @var \Survey\Entity\Report $report
 */

$title = 'Delete report';
$url   = $this->url('report/delete', ['action' => 'delete', 'project' => $project_id, 'report' => $report_id], ['query' => $this->params]);

$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Are you sure that you want to delete
    "<?= $this->escapeHtml($report->getId()) ?>" by
    "<?= $this->escapeHtml($report->getVersion()) ?>"?
</p>

<form action="<?= $url ?>" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="<?= (int) $report->getId() ?>" />
        <input type="submit" class="btn btn-danger" name="del" value="Yes" />
        <input type="submit" class="btn btn-success" name="del" value="No" />
    </div>
</form>