<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 12-4-17
 * Time: 16:57
 */

/**
 * @var \Zend\View\Renderer\PhpRenderer $this
 * @var \Zend\Form\Form $form
 */

$title = 'import data';
$this->headTitle($title);
?>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1><?= $this->escapeHtml($title) ?></h1>
<?php

$project = $form->get('project');
$competitor = $form->get('competitor');
$excel = $form->get('excel');
$overwrite = $form->get('overwrite');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('visit/import', ['controller' => 'import', 'action' => 'index']));
$form->prepare();

echo $this->form()->openTag($form);
?>

<?php // Wrap the elements in divs marked as form groups, and render the
// label, element, and errors separately within ?>
    <div class="checkbox">
        <label>
            <?= $this->formCheckbox($competitor) ?>
            Competitor
        </label>
    </div>
    <div class="form-group">
      <?= $this->formLabel($project) ?>
      <?= $this->formSelect($project) ?>
      <?= $this->formElementErrors()->render($project, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
      <?= $this->formLabel($excel) ?>
      <?= $this->formFile($excel) ?>
      <?= $this->formElementErrors()->render($excel, ['class' => 'help-block']) ?>
    </div>
    <div class="form-group">
      <?= $this->formLabel($overwrite) ?>
      <?= $this->formRadio($overwrite) ?>
      <?= $this->formElementErrors()->render($overwrite, ['class' => 'help-block']) ?>
    </div>
<?php
echo $this->formSubmit($submit);
echo $this->form()->closeTag();
?>
  </div>
  <div class="col-md-offset-3 col-md-6">
    <p>Message: <?= $this->message ?></p>
    <p>visits added: <?= $this->visit_added ?></p>
    <?php
    if (count($this->not_found_dealers) > 0){
    ?>
    <p>not found dealers:</p>
    <ul>
    <?php foreach ($this->not_found_dealers as $dealer){ ?>
      <li><?= $dealer?></li>
    <?php } ?>
    </ul>
    <?php } ?>

    <?php if (count($this->not_found_advisors) > 0){ ?>
    <p>not found advisors:</p>
    <ul>
    <?php foreach ($this->not_found_advisors as $advisor){ ?>
      <li><?= $advisor?></li>
    <?php } ?>
    </ul>
    <?php } ?>
  </div>
</div>
<script>
    $(function () {
        var competitor = $('#importForm input[name="competitor"]');
        competitor.on('change', function (e){

            var isChecked = $(e.target).is(':checked');
            var selected_val = isChecked ? "1" : "0";

            $('#importForm select[name="project"] option').each(function()
            {
                $(this).show();
                $(this).prop("selected", false);

                var competitor2 = $(this).data('competitor');

                console.log(selected_val);
                console.log(competitor2);

                if(selected_val != '' && competitor2 == selected_val){
                    $(this).show();
                }

                if(selected_val != '' && competitor2 != selected_val && $(this).val() != ''){
                    $(this).hide();
                }
            });

        });

        competitor.change();
    });
</script>