<?php
/**
 * Created by PhpStorm.
 * User: ismail
 * Date: 24-7-17
 * Time: 11:02
 */

$title = 'Archive project';
$url   = $this->url('project/archive', ['project' => $project_id]);

$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Are you sure that you want to archive
    "<?= $this->escapeHtml($this->project->getLabel()) ?>" by
    "<?= $this->escapeHtml($this->project->getWave()) ?>"?
</p>

<form action="<?= $url ?>" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="<?= (int) $this->project->getId() ?>" />
        <input type="submit" class="btn btn-danger" name="del" value="Yes" />
        <input type="submit" class="btn btn-success" name="del" value="No" />
    </div>
</form>