<?php

$title = 'Projects list';
$this->headTitle($title);

?>

<style>
    .edit-project-btn{left:13px !important;font-size: 12px !important;top: 7px !important;}
    .delete-project-btn{left:13px !important;font-size: 12px !important;top: 28px !important;}
    .question-list-btn{left:13px !important;font-size: 12px !important;top: 48px !important;}
    .duplicate-btn{left:13px !important;font-size: 12px !important;top: 66px !important;}
    .archive-project-btn{left:13px !important;font-size: 12px !important;top: 84px !important;}

</style>

<div class="row projects-wrapper">
    <?php
    /**
     * @var  $key
     * @var \Application\Entity\Project $project
     */
    foreach ($this->projects as $key => $project) {
      $url = $this->url('visit/renault_index', ['action' => 'index', 'project' => $project->getId()], ['query' => null]);
      if ($project->isCompetitor()){
          $url = $this->url('visit/competitor_index', ['action' => 'index', 'project' => $project->getId()], ['query' => null]);
      }
    ?>

    <div class="col-xs-12 col-sm-6 col-lg-4 project">
        
        <div class="panel panel-default">

            <a class="panel-body" title="<?= $project->getLabel() . ' - ' . $project->getWave() . ' - ' . $project->getYear() ?>" href="<?= $url ?>">

                <p class="project-title"><?= $project->getLabel() ?></p>
                <p class="project-wave_year"><?= $project->getWave() ?> <span>|</span> <?= $project->getYear() ?></p>
                <span class="project-btn"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <div class="description">
                    <div class="description-text">
                        <?= $project->getDescription() ?>
                    </div>
                    <span class="toggle-description">
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </a>

            <div class="project-options">
                <?php if($this->identity()->getRole() == 'admin'){ ?>
                  <a data-toggle="tooltip" title="Edit project" href="<?= $this->url('project/save', ['action' => 'index', 'project' => $project->getId()]) ?>" class="glyphicon glyphicon-pencil edit-project-btn"></a>
                  <a data-toggle="tooltip" title="Delete project" href="<?= $this->url('project/delete', ['action' => 'index', 'project' => $project->getId()]) ?>" class="glyphicon glyphicon-trash delete-project-btn"></a>
                  <a data-toggle="tooltip" title="Question list" href="<?= $this->url('question/index', ['action' => 'index', 'project' => $project->getId()]) ?>" class="glyphicon glyphicon-list question-list-btn"></a>
                    <a data-toggle="tooltip" title="Duplicate" href="<?= $this->url('project/duplicate', ['action' => 'index', 'project' => $project->getId()]) ?>" class="glyphicon glyphicon-duplicate question-list-btn duplicate-btn"></a>
                <?php } ?>
            </div>
        </div>
        
    </div>

    <?php
    }
    ?>

</div>

<script>
$(document).ready(function(){

    $('[data-toggle="tooltip"]').tooltip();

    $(".project-options").each(function(){
        var sibling_height = $(this).siblings(".panel-body").outerHeight();
        $(this).css("height", sibling_height + "px");
    });

    $(".description-text").click(function(){
        return false;
    })
    $(".toggle-description").click(function(){

        $(this).siblings(".description-text").slideToggle(200);

        return false;
    })

});
</script>
